/*! about (section) start */
.about {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.about__wrapper {
   width: 790px;
   padding: 0px var(--p-normal);
}
.about__title {
   font-size: 30px;
   text-transform: uppercase;
}
.about__text {
   line-height: 1.4;
   text-align: justify;
}
.about__strategy {
   list-style: none;
   margin-left: var(--p-small);
}
.about__strategy-item {
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: 20px;
   margin: 10px 0px;
   gap: var(--p-small);
}
.about__strategy-icon {
   color: var(--red-scheme);
}
.about__image-wrapper {
   width: 550px;
   margin: var(--p-normal) 0px var(--p-big) 0px; 
}
.about__image {
   display: block;
}
/*! about (section) end */
/*! plan (section) start */
.plan {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}
.plan__title {
   width: 100%;
}
.plan__image-wrapper {
   margin: var(--p-normal) 0px var(--p-big) 0px; 
}
.plan__image {
   display: block;
}
.plans__wrapper {
   width: 790px;
   padding: 0px var(--p-normal);
}
.plans {
   list-style: none;
}
.plans__item {
   display: flex;
   margin: var(--p-small) 0px;
   align-items: center;
   text-align: justify;
}
.plans__item:first-child {
   margin-top: 0px;
}
.plans__item:last-child {
   margin-bottom: 0px;
}
.plans__icon {
   display: flex;
   color: var(--red-scheme);
   margin-right: var(--p-small);
   align-items: center;
}
/*! plan (section) end */
/*! training (section) start */
.training {
   background-color: var(--grey-scheme);
   padding: var(--p-normal) 0px var(--p-big) 0px;
}
.training__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.training__wrapper {
   width: 790px;
   padding: 0px var(--p-normal) 0px 0px;
}
.training__quote {
   color: var(--blue-scheme_light);
   font-weight: bold;
   text-transform: uppercase;
   font-size: 25px;
}
.training__text {
   margin: var(--p-small) 0px;
   text-align: justify;
}
.training__image {
   display: block;
}
/*! training (section) start */
