.about-activities {
   background-color: var(--grey-scheme);
   padding: var(--p-normal) 0px var(--p-big) 0px;
}
.about-activities__title {
   padding-left: 0px;
}
.about-activities__text {
   font-size: 22px;
   text-align: justify;
}
.activity {
   margin: 0px 0px var(--p-big) 0px;
}
.activity__container {
   padding: 0px 120px;
}
.activity:first-of-type {
   margin-top: var(--p-normal);
}
.activity__title {
   margin-top: var(--p-normal);
   background-color: var(--grey-scheme);
}
.activity__btn {
   position: absolute;
   top: 0px;
   right: 0px;
   height: 100%;
}
.activity__btn:disabled {
   background-color: #c5c5c5;
   border-color: #a7a7a7;
}