/*! books_index start */
/** books-navbar section start */
.books-navbar {
   display: flex;
   gap: 20px;
   padding: 20px 0px;
   text-transform: uppercase;
}
.books-navbar__view,
.books-navbar__sort {
   display: flex;
   flex-wrap: wrap;
   background-color: var(--milk-scheme);
   border-radius: 3px;
   width: 310px;
   align-items: center;
}
.books-navbar__sort {
   flex-grow: 1;
}
.books-navbar__title {
   display: flex;
   align-items: center;
   flex-grow: 1;
   padding: 15px 20px;
}
.books-navbar__links {
   display: block;
   color: #c5c5c5;
   margin: 10px 20px;
   border-bottom: 1px dashed var(--red-scheme);
   text-decoration: none;
}
.books-navbar__links:hover,
.books-navbar__links:focus {
   outline:none;
   color: black;
   border-bottom-style: solid;
}
.books-navbar__links.active {
   border-bottom-style: none;
   color: var(--red-scheme);
}
.books-navbar__icons {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
}
.books-navbar__icon {
   display: inline-block;
   color: #c8c5c5;
   font-weight: bold;
   font-size: 35px;
}
.books-navbar__icon.active {
   color: var(--red-scheme);
}
.books-navbar__icon--up {
   margin-top: 2px;
}
.books-navbar__icon--down {
   margin-bottom: 2px;
}
/** books-navbar section end */
/** books section start */
.books {
   margin-bottom: 80px;
}
.book-cards {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   gap: 33px;
   height: 100%;
   overflow: hidden;
   height: 100%;
   opacity: 1;
   transition: 0.2s;
}
.book-cards.hidden {
   height: 0px;
   opacity: 0;
}
.book-cards__item {
   display: flex;
}
/* books-card start */
.books-card {
   width: 310px;
   border: 2px solid var(--milk-scheme);
   width: 310px;
   border: 2px solid var(--milk-scheme);
   display: flex;
   flex-direction: column;
}
.books-card:hover {
   box-shadow: 0 0 20px #ccced3;
}
.books-card__image-wrapper {
   position: relative;
}  
.books-card__image {
   height: 390px;
   object-fit: cover;
}
.books-card__overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.9);
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: .5s;
   opacity: 0;
}
.books-card:hover .books-card__overlay {
   opacity: 1;
}
.books-card__links {
   display: flex;
   width: 210px;
   justify-content: center;
   align-items: center;
   margin: 6px;
   text-decoration: none;
   text-transform: uppercase;
   padding: 10px;
   cursor: pointer;
}
.books-card__links--more {
   color: var(--blue-scheme);
   border: 4px solid var(--green-scheme);
   border-radius: 4px;
}
.books-card__links--more:hover,
.books-card__links--more:focus {
   outline: none;
   border-color: var(--blue-scheme);
}
.books-card__links--more:active {
   opacity: 0.5;
}
.books-card__links--order {
   border-radius: 4px;
   background-color: var(--green-scheme);
   color: #fff;
   border-top: 4px solid var(--green-scheme);
   border-bottom: 4px solid var(--green-scheme_dark);
}
.books-card__links--order:hover,
.books-card__links--order:focus {
   outline: none;
   border-top-color: var(--green-scheme_light);
   background-color: var(--green-scheme_light);
}
.books-card__links--order:active {
   border-top-color: var(--green-scheme_dark);
   background-color: var(--green-scheme_dark);
}
.books-card__new-flag {
   display: block;
   width: 60px;
   height: 60px;
   position: absolute;
   top: -2px;
   right: -2px;
}
.books-card__title {
   text-align: center;
   margin: 10px 20px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.books-card__author {
   font-weight: normal;
}

.books-card__rating-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
}
.books-card__rating-icons {
   color: var(--yellow-scheme);
}
.books-card__comments-quantity {
   display: flex;
   align-items: center;
   justify-content: start;
   flex-wrap: wrap;
   padding-left: 10px;
   color: var(--blue-scheme);
   max-width: 125px;
}
.books-card__status-wrapper {
   margin: 10px 20px 20px 20px;
   display: flex;
   justify-content: center;
}
.books-card__status {
   color: #fff;
   padding: 10px 20px;
   min-width: 180px;
   text-align: center;
   border-radius: 3px;
}
.books-card__status--available {
   background-color: var(--green-scheme);   
}
.books-card__status--unavailable {
   background-color: var(--red-scheme);
}
/* books-card end */
/* books-list start */
.books-list {
   list-style: none;
   height: 100%;
   overflow: hidden;
   height: 0px;
   opacity: 0;
   transition: 1s;
}
.books-list.show {
   height: 100%;
   opacity: 1;
}
.books-list__item {
   font-size: 22px;
   display: flex;
   margin-bottom: 5px;
}
.books-list__links {
   display: flex;
   color: inherit;
   text-decoration: none;
   width: 100%;
   background-color: var(--milk-scheme);
}
.books-list__links:focus,
.books-list__links:hover {
   outline: none;
   background-color: #ded6c8;
}
.books-list__item h3,
.books-list__item p {
   display: flex;
   align-items: center;
   padding: 0 20px;
   height: 50px;
}
.books-list__title,
.books-list__author {
   font-size: inherit;
   width: 32%;
   flex-wrap: wrap;
   
}
.books-list__pages,
.books-list__rating,
.books-list__availablity,
.books-list__available,
.books-list__unavailable {
   justify-content: center;
   width: 12%;
}
.books-list__available  {
   font-weight: bold;
   color: var(--green-scheme);
}
.books-list__unavailable {
   font-weight: bold;
   color: var(--red-scheme);
}
.books-list__item:first-child {
   font-weight: bold;
   text-transform: uppercase;
   font-size: 20px;
   margin-bottom: 10px;
   height: 50px;
   background-color: var(--grey-scheme);
}
/* books-list end */
/* pagination start */
.pagination {
   list-style: none;
   display: flex;
   justify-content: center;
   margin: 30px 0px;
   gap: 10px;
   flex-wrap: wrap;
   padding: 0px 200px;
}
.page-item {
   border: 3px solid var(--milk-scheme);
   border-radius: 3px;
}
.page-item.active {
   cursor: pointer;
   color: #fff;
   background-color: var(--red-scheme);
   border-color: var(--red-scheme);
}
.page-link {
   display: flex;
   height: 40px;
   width: 40px;
   justify-content: center;
   align-items: center;
   color: var(--blue-scheme);
   text-decoration: none;
   font-weight: bold;
   font-size: 20px;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
   font-size: 28px;
   margin-top: -1px;
}
.page-item.active .page-link {
   color: #fff;  
}
.page-item.disabled .page-link {
   color: var(--milk-scheme);
   cursor: pointer;
}
/* pagination end */
/** books section end */
/** about-books section start */
.about-books {
   background-color: var(--grey-scheme);
   padding: 30px 0px 80px 0px;
}
.about-books__title {
   padding-left: 0px;
}
.about-books__text {
   font-size: 22px;
   margin-bottom: 10px;
   text-align: justify;
}
/** about-books section start */
/*! books_index end */
/*! books_single start */
.books-info-wrapper {
   display: flex;
   min-height: 640px;
}
/** book-preview start */
.book-preview {
   position: relative;
   z-index: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.book-photos {
   list-style: none;
   position: relative;
   height: 600px;
   overflow: hidden;
   width: 600px;
   display: flex;
   flex-direction: column;
}
.book-photos__item {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 600px;
   width: 600px;
   position: absolute;
   top: 0;
   left: 0;
}
.book-photos__image {
   width: 100px;
   height: 134px;
   cursor: pointer;
   position: absolute;
   top: 8px;
   left: 25px;
   z-index: 1;
   transition: 1s;
}
.book-photos__image--front {
   top: 158px;
}
.book-photos__image--back {
   top: 308px;
}
.book-photos__image--side {
   top: 458px;
}
.book-photos__image.big {
   width: 450px;
   height: 600px;
   cursor: auto;
   position: absolute;
   top: 0px;
   left: 150px;
}
.book-photos__image.active {
   box-shadow: 0 0px 10px var(--yellow-scheme);
}
/** book-preview end */
/** book-info start */
.book-info {
   position: relative;
   min-height: 600px;
   padding: 40px 20px 0px 40px;
}
.book-info__status-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.book-info__status {
   text-transform: uppercase;
   font-weight: bold;
   color: #fff;
   padding: 8px 40px;
   font-size: 22px;
}
.book-info__status--available {
   background-color: var(--green-scheme);
   box-shadow: inset 0 0 10px var(--green-scheme_dark);
} 
.book-info__status--unavailable {
   background-color: var(--red-scheme);
   box-shadow: inset 0 0 10px var(--red-scheme_dark);
}
.book-info__article {
   font-size: 22px;
   font-weight: bold;
   color: #fff;
   text-transform: uppercase;
   text-shadow: 0 0 10px var(--blue-scheme);
}
.book-info__description {
   margin: 30px 20px;
   font-size: 24px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 8;
   -webkit-box-orient: vertical;
}
.book-info__list {
   list-style: none;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 20px;
}
.book-info__item {
   display: flex;
}
.book-info__dt {
   display: flex;
   align-items: center;
   font-weight: bold;
   text-transform: uppercase;
}
.book-info__dd {
   display: flex;
   align-items: center;
   font-size: 20px;
   margin-top: -2px;
}
.book-info__arrow-icon {
   display: block;
   font-size: 16px;
   margin: 0px 10px 0px 9px;
   font-weight: bold;
}
.book-info__rating-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100px;
   margin-bottom: 20px;
}
.book-info__stars-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   user-select: none;
}
.book-info__rating-icons {
   display: block;
   color: var(--yellow-scheme);
   font-size: 65px;
   cursor: pointer;
}
.book-info__rating-link {
   display: block;
      text-decoration: none;
      font-size: 22px;
      background-color: var(--yellow-scheme);
      padding: 5px 25px;
      border-radius: 3px;
      color: #fff;
      margin: 0 0 0 30px;
}
.book-info__rating-link:hover,
.book-info__rating-link:focus {
   outline: none;
   opacity: 0.5;
}
.book-info__rating-link:active {
   opacity: 1;
}
/* likes-container start */
.likes-container {
   display: flex;
   position: absolute;
   bottom: 0;
   left: 0;
   margin: 30px;
}
.likes-button {
   position: relative;
   border: none;
   background-color: transparent;
   display: flex;
   align-items: center;
   color: var(--blue-scheme_light);
   font-weight: bold;
   font-size: inherit;
   margin-right: 25px;
   cursor: none;
}
.likes-icon {
   font-size: 35px;
   color: var(--blue-scheme_light);
   margin: 10px 5px 10px 0px;
   z-index: -1;
}
.likes-button output {
   position: relative;
   z-index: -1;
}
/* likes-container end */
.book-info__book-link {
   position: absolute;
   bottom: 0;
   right: 0;
   margin: 30px 0px;
}
/** book-info end */
/** comment start */
.comment {
   background-color: var(--grey-scheme);
   padding: 20px 30px;
}
.comment__title {
   font-weight: normal;
}
.comment-form {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 40px 0px 60px 0px;
}
.comment-form__top-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.comment__user-avatar {
   background-color: var(--yellow-scheme);
   display: block;
   height: 70px;
   width: 70px;
   border-radius: 50px;
   object-fit: cover;
}
.comment__text {
   font-size: 18px;
   width: 93%;
   border: none;
   background-color: transparent;
   border-bottom: 2px solid var(--yellow-scheme);
   resize: none;
   height: 45px;
   padding-top: 20px;
   overflow: hidden;
   margin-bottom: 10px;
   transition: 1s;
}
.comment__text:hover,
.comment__text:focus {
   outline: none;
}
.comment__buttons-wrapper {
   display: flex;
   justify-content: flex-end;
   gap: 5px;
   height: 0px;
   overflow: hidden;
   transition: 1s;
}
.comments {
   list-style: none;
   margin-bottom: 80px;
}
.comments__item {
   display: flex;
   justify-content: space-between;
}
.comments__item:not(:last-child) {
   margin-bottom: 30px;
}
.comments__link {
   display: flex;
}
.comments__avatar {
   display: block;
   width: 60px;
   height: 60px;
   background-color: var(--yellow-scheme);
   border-radius: 50px;
}
.comments__wrapper {
   display: flex;
   flex-direction: column;
   width: 93%;
}
.comments__title {
   font-weight: bold;
   font-size: 20px;
   margin-top: 10px;
}
.comments__title time {
   font-weight: normal;
}
.comments__text {
   padding-top: 10px;
}
/** comment end */
/*! books_single end */
