/*! books-navbar section start */
.books-navbar {
   display: flex;
   gap: 20px;
   padding: 20px 0px;
   text-transform: uppercase;
}
.books-navbar__view,
.books-navbar__sort {
   display: flex;
   flex-wrap: wrap;
   background-color: #f7f3ec;
   border-radius: 3px;
   width: 310px;
   align-items: center;
}
.books-navbar__sort {
   flex-grow: 1;
}
.books-navbar__title {
   display: flex;
   align-items: center;
   flex-grow: 1;
   padding: 15px 20px;
}
.books-navbar__links {
   display: block;
   color: #c5c5c5;
   margin: 10px 20px;
   border-bottom: 1px dashed var(--red-scheme);
   text-decoration: none;
}
.books-navbar__links:hover,
.books-navbar__links:focus {
   outline:none;
   color: black;
   border-bottom-style: solid;
}
.books-navbar__links.active {
   border-bottom-style: none;
   color: var(--red-scheme);
}
.books-navbar__icons {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
}
.books-navbar__icon {
   display: inline-block;
   color: #c8c5c5;
   font-weight: bold;
   font-size: 35px;
}
.books-navbar__icon.active {
   color: var(--red-scheme);
}
.books-navbar__icon--up {
   margin-top: 2px;
}
.books-navbar__icon--down {
   margin-bottom: 2px;
}
/*! books-navbar section end */
/*! books section start */
.books {
   margin-bottom: 120px;
}
.book-cards {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   gap: 33px;
   height: 100%;
   overflow: hidden;
   height: 100%;
   opacity: 1;
   transition: 0.2s;
}
.book-cards.hidden {
   height: 0px;
   opacity: 0;
}
.book-cards__item {
   display: flex;
}
/** books-card start */
.books-card {
   width: 310px;
   border: 2px solid #f7f3ec;
   width: 310px;
   border: 2px solid #f7f3ec;
   display: flex;
   flex-direction: column;
}
.books-card:hover {
   box-shadow: 0 0 20px #ccced3;
}
.books-card__image-wrapper {
   position: relative;
}  
.books-card__image {
   height: 390px;
   object-fit: cover;
}
.books-card__overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.9);
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: .5s;
   opacity: 0;
}
.books-card:hover .books-card__overlay {
   opacity: 1;
}
.books-card__links {
   display: flex;
   width: 210px;
   justify-content: center;
   align-items: center;
   margin: 6px;
   text-decoration: none;
   text-transform: uppercase;
   padding: 10px;
   cursor: pointer;
}
.books-card__links--more {
   color: var(--blue-scheme);
   border: 4px solid var(--green-scheme);
   border-radius: 4px;
}
.books-card__links--more:hover,
.books-card__links--more:focus {
   outline: none;
   border-color: var(--blue-scheme);
}
.books-card__links--more:active {
   opacity: 0.5;
}
.books-card__links--order {
   border-radius: 4px;
   background-color: var(--green-scheme);
   color: #fff;
   border-top: 4px solid var(--green-scheme);
   border-bottom: 4px solid var(--green-scheme_dark);
}
.books-card__links--order:hover,
.books-card__links--order:focus {
   outline: none;
   border-top-color: #5fbb2d;
   background-color: #5fbb2d;
}
.books-card__links--order:active {
   border-top-color: var(--green-scheme_dark);
   background-color: var(--green-scheme_dark);
}
.books-card__title {
   text-align: center;
   margin: 10px 20px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.books-card__author {
   font-weight: normal;
}
.books-card__rating-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
}
.books-card__rating-icons {
   color: var(--blue-scheme);
}
.books-card__comments-quantity {
   display: flex;
   align-items: center;
   justify-content: start;
   flex-wrap: wrap;
   padding-left: 10px;
   color: var(--blue-scheme);
   max-width: 125px;
}
.books-card__status-wrapper {
   margin: 10px 20px 20px 20px;
   display: flex;
   justify-content: center;
}
.books-card__status {
   color: #fff;
   padding: 10px 20px;
   min-width: 180px;
   text-align: center;
   border-radius: 3px;
}
.books-card__status--available {
   background-color: var(--green-scheme);   
}
.books-card__status--unavailable {
   background-color: var(--red-scheme);
}
/** books-card end */
/** books-list start */
.books-list {
   list-style: none;
   height: 100%;
   overflow: hidden;
   height: 0px;
   opacity: 0;
   transition: 1s;
}
.books-list.show {
   height: 100%;
   opacity: 1;
}
.books-list__item {
   font-size: 22px;
   display: flex;
   margin-bottom: 5px;
}
.books-list__links {
   display: flex;
   color: inherit;
   text-decoration: none;
   width: 100%;
   background-color: #f7f3ec;
}
.books-list__links:focus,
.books-list__links:hover {
   outline: none;
   background-color: #ded6c8;
}
.books-list__item h3,
.books-list__item p {
   display: flex;
   align-items: center;
   padding: 0 20px;
   height: 50px;
}
.books-list__title,
.books-list__author {
   font-size: inherit;
   width: 32%;
   flex-wrap: wrap;
   
}
.books-list__pages,
.books-list__rating,
.books-list__availablity,
.books-list__available,
.books-list__unavailable {
   justify-content: center;
   width: 12%;
}
.books-list__available  {
   font-weight: bold;
   color: var(--green-scheme);
}
.books-list__unavailable {
   font-weight: bold;
   color: var(--red-scheme);
}
.books-list__item:first-child {
   font-weight: bold;
   text-transform: uppercase;
   font-size: 20px;
   margin-bottom: 10px;
   height: 50px;
   background-color: #f2f6f8;
}
/** books-list end */
/** pagination start */
.pagination {
   list-style: none;
   display: flex;
   justify-content: center;
   margin: 30px 0px;
   gap: 10px;
   flex-wrap: wrap;
   padding: 0px 200px;
}
.page-item {
   border: 3px solid #f7f3ec;
   border-radius: 3px;
}
.page-item.active {
   cursor: pointer;
   color: #fff;
   background-color: var(--red-scheme);
   border-color: var(--red-scheme);
}
.page-link {
   display: flex;
   height: 40px;
   width: 40px;
   justify-content: center;
   align-items: center;
   color: var(--blue-scheme);
   text-decoration: none;
   font-weight: bold;
   font-size: 20px;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
   font-size: 28px;
   margin-top: -1px;
}
.page-item.active .page-link {
   color: #fff;  
}
.page-item.disabled .page-link {
   color: #f7f3ec;
   cursor: pointer;
}
/** pagination end */

/*! books section end */
