/*! Buttons styles */
.button {
   display: inline-block;
   text-decoration: none;
   font-family: inherit;
   cursor: pointer;
   border: none;
   font-size: 22px;
   font-weight: bold;
   color: #fff;
   padding: 8px 20px;
   background-color: var(--green-scheme);
   border-radius: 3px;
   border-bottom: 5px solid var(--green-scheme_dark);
}
.button--red {
   background-color: var(--red-scheme);
   border-bottom: 5px solid var(--red-scheme_dark);
}
.button:hover,
.button:focus {
   outline: none;
   background-color: var(--green-scheme_light);
}
.button--red:hover,
.button--red:focus {
   outline: none;
   background-color: var(--red-scheme_light);
}
.button:active {
   background-color: var(--green-scheme_dark);
}
.button:disabled {
   background-color: #c5c5c5;
   border-color: #a7a7a7;
}
.button--red:active {
   background-color: var(--red-scheme_dark);
}
.scroll-top-btn {
   border: none;
   background-color: var(--yellow-scheme);
   border-radius: 50px;
   width: 60px;
   height: 60px;
   transition: 0.2s;
   cursor: pointer;
   position: fixed;
   right: 30px;
   bottom: 70px;
   pointer-events: none;
   opacity: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.scroll-top-btn.active {
   pointer-events: auto;
   opacity: 1;
}
.scroll-top-btn:hover {
   background-color: var(--green-scheme);
}
.scroll-top-btn__icon {
   font-weight: bold;
   font-size: 33px;
   display: block;
   color: var(--red-scheme);
}
/*! Link styles */
.link {
   display: inline-block;
   color: #fff;
   text-decoration: none;
   background-color: var(--red-scheme);
   padding: 8px 20px;
   font-size: 18px;
   border-radius: 3px;
   text-shadow: 0 1px 5px black;
   text-transform: uppercase;
}
.link:hover,
.link:focus {
   outline: none;
   background-color: var(--red-scheme_light);
}
.link:active {
   background-color: var(--red-scheme_dark);
}
/*! Modal styles */
.modal {
   width: 600px;
   border-top: 7px solid var(--red-scheme);
   position: fixed;
   top: 150px;
   left: calc(50% - 300px);
   z-index: 10;
   background-color: #fff;
   box-shadow: 0px 20px 25px #444444;
   z-index: 10;
   opacity: 1;
   transition: 0.5s;
}
.modal.hidden {
   opacity: 0;
   z-index: -1;
}
.modal__msg-wrapper {
   display: flex;
   align-items: center;
   min-height: 160px;
}
.modal__msg {
   margin: 20px 40px;
   font-size: 20px;
}
.modal__msg--red {
   color: red;
}
.modal__btn-wrapper {
   padding: 20px 40px;
   background-color: var(--grey-scheme);
   display: flex;
   justify-content: flex-end;
   gap: 10px;
}
.modal__close-btn {
   display: flex;
   border: none;
   background: transparent;
   color: var(--red-scheme);
   cursor: pointer;
   position: absolute;
   top: 0;
   right: 0;
}
.modal__close-icon {
   display: block;
   font-weight: bold;
   font-size: 30px;
}
/*! Breadcrumbs styles */
.breadcrumbs {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   padding: var(--p-small) 0px;
   gap: var(--p-small);
}
.breadcrumbs__item {
   display: flex;
}
.breadcrumbs__item:first-child {
   padding: 0px;
}
.breadcrumbs__link {
   display: flex;
   text-decoration: none;
   color: black;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   align-items: center;
   cursor: pointer;
}
.breadcrumbs__link:focus {
   outline: none;
   color: red;
}

.breadcrumbs__link--home {
   display: flex;
   text-decoration: none;
   color: #c1c6ce;
   font-weight: bold;
}
.breadcrumbs__link--home:hover,
.breadcrumbs__link--home:focus {
   outline: none;
   color: var(--blue-scheme);
}
.breadcrumbs__icon {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #c1c6ce;
   padding-right: var(--p-small);
}
.breadcrumbs__icon--home {
   display: flex;
   font-size: 30px;
   justify-content: center;
   align-items: center;
}
/*! Book-card style */
.books-card {
   width: 310px;
   border: 2px solid var(--milk-scheme);
   width: 310px;
   border: 2px solid var(--milk-scheme);
   display: flex;
   flex-direction: column;
   background-color: #fff;
   transition: 0.5s;
   padding-bottom: 20px;
}
.books-card:hover {
   box-shadow: 0 0 20px #ccced3;
   transform: scale(1.03);
}
.books-card__image-wrapper {
   position: relative;
}
.books-card__image {
   width: 100%;
   object-fit: cover;
}
.books-card__new-flag {
   width: 60px !important;
}
.books-card__overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.9);
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
   opacity: 0;
}
.books-card:hover .books-card__overlay {
   opacity: 1;
}
.books-card__links {
   display: flex;
   width: 210px;
   justify-content: center;
   align-items: center;
   margin: 6px;
   text-decoration: none;
   text-transform: uppercase;
   padding: 10px;
   cursor: pointer;
}
.books-card__links--more {
   color: var(--blue-scheme);
   border: 4px solid var(--green-scheme);
   border-radius: 4px;
}
.books-card__links--more:hover,
.books-card__links--more:focus {
   outline: none;
   border-color: var(--blue-scheme);
}
.books-card__links--more:active {
   opacity: 0.5;
}
.books-card__links--order {
   border-radius: 4px;
   background-color: var(--green-scheme);
   color: #fff;
   border-top: 4px solid var(--green-scheme);
   border-bottom: 4px solid var(--green-scheme_dark);
}
.books-card__links--order:hover,
.books-card__links--order:focus {
   outline: none;
   border-top-color: var(--green-scheme_light);
   background-color: var(--green-scheme_light);
}
.books-card__links--order:active {
   border-top-color: var(--green-scheme_dark);
   background-color: var(--green-scheme_dark);
}
.books-card__new-flag {
   display: block;
   width: 60px;
   height: 60px;
   position: absolute;
   top: -2px;
   right: -2px;
}
.books-card__title {
   text-align: center;
   margin: 10px 20px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.books-card__author {
   font-weight: normal;
}

.books-card__rating-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
}
.books-card__rating-icons {
   color: var(--yellow-scheme);
}
.books-card__comments-quantity {
   display: flex;
   align-items: center;
   justify-content: start;
   flex-wrap: wrap;
   padding-left: 10px;
   color: var(--blue-scheme);
   max-width: 125px;
}
.books-card__status-wrapper {
   margin: 10px 20px 0px 20px;
   display: flex;
   justify-content: center;
}
.books-card__status {
   color: #fff;
   padding: 10px 20px;
   min-width: 180px;
   text-align: center;
   border-radius: 3px;
}
.books-card__status--available {
   background-color: var(--green-scheme);
}
.books-card__status--unavailable {
   background-color: var(--red-scheme);
}
/*! Pagination styles */
.pagination {
   list-style: none;
   display: flex;
   justify-content: center;
   gap: var(--p-small);
   flex-wrap: wrap;
   padding: 0px var(--p-big);
   margin-top: var(--p-normal);
}
.page-item {
   border: 3px solid var(--milk-scheme);
   border-radius: 3px;
}
.page-item.active {
   cursor: pointer;
   color: #fff;
   background-color: var(--red-scheme);
   border-color: var(--red-scheme);
}
.page-link {
   display: flex;
   height: 36px;
   width: 36px;
   justify-content: center;
   align-items: center;
   color: var(--blue-scheme);
   text-decoration: none;
   font-weight: bold;
   font-size: 20px;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
   font-size: 28px;
   margin-top: -1px;
}
.page-item.active .page-link {
   color: #fff;
}
.page-item.disabled .page-link {
   color: var(--milk-scheme);
   cursor: pointer;
}
/*! Form styles */
.form__title {
   font-size: 26px;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: var(--yellow-scheme);
   margin-bottom: var(--p-small);
   text-shadow: 0px 0px 1px black;
}
.form__error-list {
   position: fixed;
   top: 200px;
   left: calc(50% - 300px);
   width: 600px;
   background-color: #ffe5e5;
   border-radius: 8px;
   box-shadow: 0 0 4px red;
   padding-top: 15px;
   color: red;
   z-index: 10;
   cursor: pointer;
}
.form__error-item {
   width: 70%;
   margin: 0px auto;
   margin-bottom: var(--p-small);
   position: relative;
   top: 0px;
   left: 0px;
}  
.form__item {
   width: 70%;
   margin: 0px auto var(--p-small) auto;
   position: relative;
   top: 0px;
   left: 0px;
}
.form__label {
   font-size: 20px;
   height: 24px;
   display: block;
   color: var(--blue-scheme);
   cursor: pointer;
}
.form__label--file {
   position: relative;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 74px;
   z-index: 1;
}
.form__icon {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 24px;
   left: 0px;
   height: 50px;
   width: 50px;
   font-size: 28px;
   color: #9a8a6d;
   background-color: #e8e1d4;
   cursor: pointer;
   z-index: 1;
}
.form__input {
   display: flex;
   align-items: center;
   border: none;
   color: #9a8a6d;
   background-color: var(--milk-scheme);
   box-shadow: 0px 0px 1px black;
   height: 50px;
   font-size: 20px;
   padding: 0px 60px;
   width: 100%;
}
.form__input:focus {
   outline: none;
   background-color: #fff;
   box-shadow: none;
}
.form__input--file {
   position: absolute;
   bottom: 0px;
   left: 0px;
   top: 24px;
}
.form__file-view {
   position: absolute;
   left: 0px;
   top: 24px;
   overflow: hidden;
}
.form__btn-wrapper {
   display: flex;
   justify-content: flex-end;
   margin-top: var(--p-normal);
   gap: var(--p-small);
}
.form__visibility {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 24px;
   right: 0px;
   height: 50px;
   width: 50px;
   font-size: 28px;
   color: #9a8a6d;
   background-color: #e8e1d4;
   cursor: pointer;
}
.error-msg {
   width: 70%;
   margin: -10px auto 5px auto;
   color: red;
   font-weight: bold;
}
.form__textarea {
   display: flex;
   align-items: center;
   border: none;
   color: rgb(154, 138, 109);
   background-color: var(--milk-scheme);
   box-shadow: black 0px 0px 1px;
   height: 200px;
   font-size: 20px;
   padding: 10px 60px;
   width: 100%;
   font-family: inherit;
   resize: none;
}
.form__textarea:focus {
   outline: none;
   background-color: #fff;
   box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type=number] {
   -moz-appearance:textfield; 
}
.form .error-msg {
   color: red;
   font-size: 20px;
   display: none;
}
.form__input.invalid + span,
.form__select.invalid + span,
.form__textarea.invalid + span {
   display: inline-block;
}
.form__select {
   border: none;
   display: flex;
   align-items: center;
   padding: 0px 60px;
   height: 50px;
   font-size: 21px;
   color: #757575;
   font-family: inherit;
   width: 100%;
   background-color: #f7f3ec;
   box-shadow: 0px 0px 1px black;
}
.form__select:focus {
   outline: none;
   background-color: #fff;
   box-shadow: none;
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;
   text-overflow: '';
}  
/*! Information list styles */
.info {
   list-style: none;
   width: 100%;
}
.info__item:not(:last-child) {
   margin-bottom: var(--p-small);
}
.info__label {
   font-size: 20px;
   height: 24px;
   color: var(--blue-scheme);
}
.info__value {
   display: flex;
   align-items: center;
   color: #9a8a6d;
   background-color: var(--milk-scheme);
   box-shadow: 0px 0px 1px black;
   min-height: 50px;
   font-size: 20px;
   padding: 10px 60px;
   width: 100%;
   position: relative;
   top: 0px;
   left: 0px;
}
.info__icon {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 50px;
   font-size: 28px;
   color: #9a8a6d;
   background-color: #e8e1d4;
}
/*! Page template styles */
.p-wrapper {
   display: flex;
   margin: var(--p-small) 0px var(--p-big) 0px;
   gap: var(--p-small);
}
.p-sidebar {
   display: flex;
}
.p-navigation {
   margin-top: var(--p-big);
}
.p-navigation__list {
   list-style: none;
   margin-top: var(--p-small);
   position: sticky;
   top: 110px;
   left: 0px;
}
.p-navigation__item:not(:last-child) {
   margin-bottom: 5px;
}
.p-navigation__link {
   text-decoration: none;
   color: var(--blue-scheme);
   font-size: 20px;
   display: flex;
   align-items: center;
   height: 40px;
   padding: 0px var(--p-small) 0px calc(var(--p-small) + 5px);
   position: relative;
   top: 0px;
   left: 0px;
}
.p-navigation__link::before {
   content: '';
   display: flex;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 10px;
   background-color: var(--yellow-scheme);
   transition: .5s;
   z-index: -1;
}
.p-navigation__link.active {
   color: var(--red-scheme);
}
.p-navigation__link.active::before {
   width: 100%;
}
.p-navigation__item:hover .p-navigation__link::before {
   width: 100%;
}
.p-content {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.p-content__title {
   margin-bottom: var(--p-small);
}
.list__head {
   height: 40px;
   background: var(--grey-scheme);
   margin-bottom: 5px;
   display: flex;
   align-items: center;
   padding: 0px 10px;
   font-size: 19px;
   text-transform: uppercase;   
}
.list {
   list-style: none;
}
.list__item {
   min-height: 40px;
   background: var(--milk-scheme);
   display: flex;
   align-items: center;
   padding: 0px 10px;
   font-size: 22px;
   position: relative;
   top: 0px;
   left: 0px;
}
.list__item:not(:last-child) {
   margin-bottom: 5px;
}
.list__item:hover {
   cursor: pointer;
   transform: scale(1.01);
   background-color: rgba(0, 0, 0, 0.1);
}
.list__item span {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical;
   cursor: pointer;
}
.list__item span:not(:last-child) {
   padding-right: 10px;
}
.list__link {
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
}
/*! Feedback modal section */
.feedback {
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 11;
   width: 100vw;
   height: 100vh;
   backdrop-filter: blur(8px);
   opacity: 1;
   transition: 0.5s;
   cursor: pointer;
}
.feedback.hidden {
   opacity: 0;
   z-index: -1;
}
.feedback-form,
.feedback-success-modal {
   width: 600px;
   border-top: 7px solid var(--yellow-scheme);
   position: fixed;
   top: 150px;
   left: calc(50% - 300px);
   background-color: #fff;
   box-shadow: 0px 20px 25px #444444;
   display: flex;
   flex-direction: column;
}
.feedback-success-modal {
   border-color: var(--green-scheme_light);
}
.feedback__title {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.feedback__textarea {
   margin: var(--p-small);
   padding: var(--p-small);
   font-size: 20px;
   font-family: inherit;
   background-color: #f7f3ec;
   border: 2px solid var(--yellow-scheme);
   max-width: 570px;
   min-width: 570px;
   min-height: 200px;
   color: var(--blue-scheme);
   border-radius: 4px;
}
.feedback__textarea:focus {
   outline: none;
   background-color: #fff;
}
.feedback__btn {
   border-radius: 0px;
}
.feedback__button--red {
   border-bottom: 0px;
}