/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap');
/* variables start */
html {
   --main-color: #293449;
   --secondary-color: #f3c600;
}
/* variables end */
*, *::before, *::after {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}
body {
   margin: 0px;
   font-family: 'Cuprum', sans-serif;
   font-size: 18px;
} 
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.container {
   width: 1400px;
   padding: 0px 30px;
   margin: 0 auto;
}
.main-logo {
   display: inline-block;
   width: 40px;
   height: 40px;
}
.koinot-logo {
   display: inline-block;
   height: 40px;
   width: 250px;
   padding: 2px;
}
img {
   width: 100%;
}
p {
   margin: 0px;
}
.error-text {
   display: block;
   color: red;
   font-weight: bold;
   font-size: 15px;
}
.scroll-top-button {
   border: none;
   background-color: #63a63e;
   border-radius: 50px;
   width: 60px;
   height: 60px;
   transition: 1s;
   cursor: pointer;
   position: fixed;
   right: 30px;
   bottom: 30px;
   pointer-events: none;
   opacity: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.scroll-top-button.active {
   pointer-events: auto;
   opacity: 1;
}
.scroll-top-button:hover {
   background-color: rgba(124, 82, 158, 1);
}
.scroll-top-button__icon {
   font-weight: bold;
   font-size: 33px;
   display: block;
   color: white;
}