@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap");
/*! Specification start */
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}
html {
   scroll-behavior: smooth;
   --blue-scheme: #293449;
   --blue-scheme_light: #32425c;
   --yellow-scheme: #f3c600;
   --red-scheme: #ee3643;
   --red-scheme_light: #ff5562;
   --red-scheme_dark: #c1121f;
   --green-scheme: #63a63e;
   --green-scheme_dark: #518534;
   --green-scheme_light: #5fbb2d;
   --grey-scheme: #f2f6f8;
   --milk-scheme: #f7f3ec;
   --p-small: 15px;
   --p-normal: 30px;
   --p-big: 60px;
}
body {
   margin: 0px;
   font-family: "Cuprum", sans-serif;
   font-size: 18px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.container {
   width: 1400px;
   padding: 0px 30px;
   margin: 0 auto;
}
.main-logo {
   display: inline-block;
   width: 40px;
   height: 40px;
}
.koinot-logo {
   display: inline-block;
   height: 40px;
   width: 250px;
   padding: 2px;
}
img {
   max-width: 100%;
}
.title {
   display: flex;
   align-items: center;
   background-color: var(--milk-scheme);
   height: var(--p-big);
   text-transform: uppercase;
   font-size: 25px;
   color: var(--blue-scheme);
   padding: 0px var(--p-small);
}
/** Buttons start */
.button {
   display: inline-block;
   text-decoration: none;
   font-family: inherit;
   cursor: pointer;
   border: none;
   font-size: 22px;
   font-weight: bold;
   color: #fff;
   padding: 8px 20px;
   background-color: var(--green-scheme);
   border-radius: 3px;
   border-bottom: 5px solid var(--green-scheme_dark);
}
.button--red {
   background-color: var(--red-scheme);
   border-bottom: 5px solid var(--red-scheme_dark);
}
.button:hover,
.button:focus {
   outline: none;
   background-color: var(--green-scheme_light);
}
.button--red:hover,
.button--red:focus {
   outline: none;
   background-color: var(--red-scheme_light);
}
.button:active {
   background-color: var(--green-scheme_dark);
}
.button--red:active {
   background-color: var(--red-scheme_dark);
}
.scroll-top-btn {
   border: none;
   background-color: var(--yellow-scheme);
   border-radius: 50px;
   width: 60px;
   height: 60px;
   transition: 0.2s;
   cursor: pointer;
   position: fixed;
   right: 30px;
   bottom: 70px;
   pointer-events: none;
   opacity: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.scroll-top-btn.active {
   pointer-events: auto;
   opacity: 1;
}
.scroll-top-btn:hover {
   background-color: var(--green-scheme);
}
.scroll-top-btn__icon {
   font-weight: bold;
   font-size: 33px;
   display: block;
   color: var(--red-scheme);
}
/** Buttons end */
/** Link start */
.link {
   display: inline-block;
   color: #fff;
   text-decoration: none;
   background-color: var(--red-scheme);
   padding: 8px 20px;
   font-size: 18px;
   border-radius: 3px;
   text-shadow: 0 1px 5px black;
   text-transform: uppercase;
}
.link:hover,
.link:focus {
   outline: none;
   background-color: var(--red-scheme_light);
}
.link:active {
   background-color: var(--red-scheme_dark);
}
/** Link end */
/*! Specification end */
/*! Header start */
.header {
   position: sticky;
   top: -215px;
   z-index: 2;
}
/** Header-top start*/
.header-top {
   background-color: var(--blue-scheme);
   width: 100%;
   position: sticky;
   top: 0px;
   z-index: 9;
}
.header-top__container {
   display: flex;
   flex-wrap: wrap;
   color: #fff;
   font-size: 22px;
}
.ats-link,
.koinot-link {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--grey-scheme);
   padding: 5px;
}
.ats-link:hover,
.ats-link:focus {
   outline: none;
   background-color: #b3b3b3;
}
/* Catalog start */
.catalog {
   display: flex;
   position: relative;
}
.catalog__button {
   border: none;
   color: #fff;
   background-color: var(--blue-scheme);
   font-family: inherit;
   font-size: inherit;
   display: flex;
   align-items: center;
   cursor: pointer;
   padding: 0 0 0 var(--p-small);
}
.catalog__button:hover,
.catalog__button:focus,
.catalog__links:hover,
.catalog__links:focus {
   outline: none;
   background-color: #fff;
   color: var(--blue-scheme);
}
.catalog__dropdown-icon {
   font-size: 30px;
   padding-left: 4px;
}
.catalog__list {
   position: absolute;
   top: 50px;
   right: 0px;
}
.catalog__items {
   display: block;
}
.catalog__links {
   display: flex;
   justify-content: start;
   align-items: center;
   width: 115px;
   text-decoration: none;
   color: #fff;
   font-size: 20px;
   background-color: var(--blue-scheme);
   padding: 0px var(--p-small);
   height: 40px;
   overflow: hidden;
   transition: 0.2s;
}
.catalog__list.hidden .catalog__links:focus {
   height: 40px;
}
.catalog__list.hidden .catalog__links {
   height: 0px;
}
/* Catalog end */
/* Search start */
.search {
   display: flex;
   flex-grow: 1;
   transition: 1s;
   background-color: #fff;
}
.search__button {
   border: none;
   background-color: transparent;
   display: flex;
   height: 50px;
   align-items: center;
   color: var(--red-scheme);
   padding: 10px;
   cursor: pointer;
}
.search__button:focus {
   outline: 0px;
   background-color: var(--blue-scheme);
   color: #fff;
}
.search__icon {
   display: block;
   font-size: 30px;
   color: inherit;
}
.search__input {
   border: none;
   background-color: transparent;
   width: 100%;
   padding-left: 10px;
   color: var(--blue-scheme);
   font-size: inherit;
   font-family: inherit;
   font-weight: bold;
   transition: 1s;
}
.search__input::placeholder {
   color: inherit;
}
.search__input:focus,
.search__input:active {
   outline: none;
   color: var(--blue-scheme);
   font-weight: bold;
}
.search.hidden {
   background-color: var(--blue-scheme);
}
.search.hidden .search__input {
   width: 0px;
   padding-left: 0px;
}
.search.hidden .search__button {
   color: #fff;
}
.search.hidden .search__button:focus,
.search.hidden .search__button:hover {
   outline: none;
   background-color: #fff;
   color: var(--red-scheme);
}
/* Search end */
.notification-link {
   position: relative;
   display: flex;
   text-decoration: none;
   justify-content: center;
   align-items: center;
   padding: 2px 6px 6px 6px;
   color: #fff;
}
.notification-link:hover,
.notification-link:focus {
   outline: none;
   background-color: #fff;
   color: var(--blue-scheme);
}
.viber-link:hover,
.viber-link:focus {
   outline: none;
   background-color: rgb(125 61 175);
}
.notification-link__icon {
   color: inherit;
   font-size: 35px;
   display: block;
}
.notification-count {
   position: absolute;
   top: 2px;
   right: 5px;
   font-family: sans-serif;
   color: red;
   font-weight: 900;
   font-size: 14px;
   text-shadow: 0 0 6px #fff;
}
.viber-link {
   display: flex;
   text-decoration: none;
   justify-content: center;
   align-items: center;
   padding: 5px 8px;
}
.viber-link__icon {
   display: block;
   width: 36px;
}
/* Taken book start */
.taken-book {
   display: flex;
}
.taken-book__title {
   display: flex;
}
.taken-book__link,
.taken-book__deadline-link,
.taken-book__message {
   display: flex;
   align-items: center;
   padding: 10px;
   background-color: var(--green-scheme);
   text-decoration: none;
   color: #fff;
   position: relative;
}
.taken-book__see-txt {
   position: absolute;
   top: 0px;
   left: 0px;
   background-color: var(--green-scheme);
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   min-width: 150px;
   transition: 0.2s;
   opacity: 0;
}
.taken-book__deadline-link.award {
   background-color: transparent;
}
.taken-book__link:hover .taken-book__see-txt {
   opacity: 1;
}
.taken-book__link:active {
   background-color: var(--green-scheme_dark);
}
.taken-book__deadline {
   display: flex;
}
.taken-book__deadline-link {
   background-color: var(--red-scheme);
   font-size: 30px;
   display: flex;
   gap: 3px;
   justify-content: center;
   align-items: center;
   padding: 0px 10px;
   cursor: pointer;
   min-width: 184px;
}
.taken-book__deadline-link small {
   position: relative;
   font-size: 22px;
   bottom: -4px;
   font-weight: bold;
   margin-right: 5px;
}
.taken-book__seconds {
   min-width: 30px;
}
.taken-book__renew {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--red-scheme);
   opacity: 0;
   transition: 0.2s;
}
.taken-book__deadline-link:hover .taken-book__renew,
.taken-book__deadline-link:focus .taken-book__renew {
   opacity: 1;
}
.taken-book__deadline-link:active {
   background-color: var(--red-scheme);
}
.taken-book__message {
   background-color: var(--red-scheme);
   cursor: default;
}
/* Taken book end */
/** Header-top end */
/** Header-bottom start */
.header-bottom {
   background-color: var(--grey-scheme);
   height: 270px;
}
.header-bottom__container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   min-height: 160px;
}
.quote {
   display: flex;
   align-items: center;
   font-family: serif;
   color: var(--red-scheme);
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   text-transform: uppercase;
   letter-spacing: -1px;
}
.quote > span {
   display: flex;
   align-items: center;
   line-height: 50px;
   color: black;
   font-size: 55px;
   font-weight: bold;
   margin-right: 6px;
}
.company {
   display: flex;
   flex-direction: column;
   font-style: normal;
   justify-content: center;
   max-width: 500px;
   align-items: center;
}
.company__phone {
   width: 250px;
   display: flex;
   align-items: center;
   height: 45px;
   border: 3px solid #fff;
   font-weight: bold;
   color: var(--red-scheme);
   font-size: 20px;
   position: relative;
   justify-content: center;
}
.company__phone-icon {
   color: #b7bfc8;
   font-size: 26px;
   position: absolute;
   left: 0;
   top: 50%;
   margin-top: -13px;
   margin-left: 5px;
}
.company-name {
   text-align: center;
   color: #32425c;
   font-weight: bold;
   margin-top: 5px;
}
/* User info start */
.user-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
}
.user-wrapper {
   display: flex;
   justify-content: space-between;
   height: 45px;
   background-color: #fff;
   font-size: 22px;
   font-weight: bold;
   min-width: 230px;
}
.user-icon {
   display: flex;
   align-items: center;
   padding: 6px;
   color: #b7bfc8;
   font-size: 26px;
}
.user-name {
   display: flex;
   align-items: center;
   padding: 6px;
}
.logout-link {
   display: flex;
   align-items: center;
   padding: 6px;
   text-decoration: none;
}
.logout-link:hover,
.logout-link:focus {
   outline: none;
   background: gainsboro;
}
.logout-link__icon {
   display: block;
   color: #b7bfc8;
   font-size: 26px;
   font-weight: bold;
}
.logout-link:hover .logout-link__icon,
.logout-link:focus .logout-link__icon {
   color: #fff;
}
.profile-link {
   text-align: center;
   color: #32425c;
   font-weight: bold;
   margin-top: 5px;
}
.profile-link:hover,
.profile-link:focus {
   outline: none;
   color: #fff;
   background-color: gainsboro;
}
/* User info end */
/* Main navigation start */
.main-navigation {
   position: sticky;
   top: 50px;
   background-color: var(--yellow-scheme);
   border-bottom: 5px solid #cca600;
}
.site-navigation {
   width: 100%;
   display: flex;
   justify-content: center;
}
.site-navigation__item {
   cursor: pointer;
   overflow: hidden;
   display: flex;
   flex-grow: 1;
}
.site-navigation__link {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: var(--blue-scheme);
   font-weight: bold;
   padding: 12px;
   font-size: 22px;
   width: 100%;
}
.site-navigation__link:hover,
.site-navigation__link:focus {
   outline: none;
   background-color: #e0b600;
}
.site-navigation__item.active .site-navigation__link {
   background-color: #cca600;
   color: #fff;
   user-select: none;
}
.close-btn {
   position: absolute;
   top: 0;
   right: 0;
   border: none;
   background-color: transparent;
   margin: var(--p-small) var(--p-normal) 0 0;
   cursor: pointer;
}
.close-icon {
   color: #fff;
   display: block;
   font-weight: bold;
   font-size: 30px;
}

/* Main navigation end  */
/** Header bottom end */
/*! Header end */

/*! Footer start */
.footer {
   color: #fff;
}
/** Footer__top start */
.footer__top {
   background-color: var(--blue-scheme_light);
}
.footer__top-container {
   display: flex;
   flex-wrap: wrap;
}
.footer__logo-wrapper {
   order: 1;
   display: flex;
   width: 25%;
   padding: 10px 0px;
}
.footer__ats-link:hover,
.footer__ats-link:focus {
   background-color: transparent;
}
.footer__main-logo {
   width: 60px;
   height: 60px;
   margin-bottom: -17px;
   margin-top: 10px;
}
.footer__title {
   display: flex;
   flex-grow: 1;
   justify-content: center;
   align-items: flex-end;
   font-size: 36px;
   margin-bottom: -10px;
   color: var(--yellow-scheme);
}
.footer__company {
   order: 3;
   display: flex;
   flex-direction: column;
   margin-top: var(--p-normal);
   font-style: normal;
   gap: 5px;
   width: 30%;
}
.footer__company-address {
   font-size: 20px;
}
.footer__company-phone {
   font-size: 24px;
}
.footer-navigation {
   list-style: none;
   order: 2;
   width: 75%;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   flex-wrap: wrap;
}
.footer-navigation__item {
   margin: 5px 0 5px var(--p-normal);
}
.footer-navigation__link {
   display: block;
   text-decoration: none;
   color: #fff;
   font-size: 20px;
   cursor: pointer;
   user-select: none;
}
.footer-navigation__link:hover,
.footer-navigation__link:focus {
   outline: none;
   border-bottom: 1px solid #fff;
}
.category-navigation {
   list-style: none;
   order: 4;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin: var(--p-normal) 0px var(--p-big) 0px;
   width: 70%;
   flex-wrap: wrap;
}
.category-navigation__item {
   margin: 0 0px var(--p-small) var(--p-big);
   height: 25px;
}
.category-navigation__link {
   display: block;
   text-decoration: none;
   color: var(--yellow-scheme);
   font-size: 20px;
}
.category-navigation__link:hover,
.category-navigation__link:focus {
   outline: none;
   border-bottom: 1px solid #ffd180;
}
/** Footer__top end */
/** Footer__bottom start */
.footer__bottom {
   background-color: var(--blue-scheme);
   position: sticky;
   bottom: 0;
}
.footer__bottom-container {
   display: flex;
   padding: var(--p-small) var(--p-normal);
}
.footer__rights {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 40%;
   font-size: 20px;
}
.socials {
   list-style: none;
   display: flex;
   width: 20%;
   justify-content: center;
   align-items: center;
}
.socials__link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border-radius: 50px;
   background: var(--blue-scheme_light);
   padding: 0 1px 2px 0px;
   margin: 5px;
}
.socials__link:hover,
.socials__link:focus {
   outline: none;
   background-color: var(--red-scheme);
}
.socials__icon {
   width: auto;
   display: block;
}
.footer__copyright {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 40%;
   font-size: 20px;
}
/** Footer__bottom end */
/** Cursor start */
.cursor-wrapper {
   position: fixed;
   top: 0px;
   height: 100vh;
   width: 100vw;
   z-index: -1;
}
#cursor {
   position: absolute;
   pointer-events: none;
   transform: translate(-50%, -50%);
   z-index: 999;
}
/** Cursor end */
/*! Footer end */

/*! Global styles start */
.page-title {
   font-size: 30px;
   color: var(--blue);
   line-height: 30px;
   margin: 0px;
   padding: var(--p-normal);
   text-transform: uppercase;
   background-color: var(--grey-scheme);
}
.width-10 {
   width: 10%;
}
.width-20 {
   width: 20%;
}
.width-30 {
   width: 30%;
}
.width-40 {
   width: 40%;
}
.width-50 {
   width: 50%;
}
.width-60 {
   width: 60%;
}
.width-70 {
   width: 70%;
}
.width-80 {
   width: 80%;
}
.width-90 {
   width: 90%;
}
.txt-center {
   text-align: center;
}
/** Modal start */
.modal {
   width: 600px;
   border-top: 7px solid var(--red-scheme);
   position: fixed;
   top: 150px;
   left: calc(50% - 300px);
   z-index: 10;
   background-color: #fff;
   box-shadow: 0px 20px 25px #444444;
   z-index: 10;
   opacity: 1;
   transition: 0.5s;
}
.modal.hidden {
   opacity: 0;
   z-index: -1;
}
.modal__msg-wrapper {
   display: flex;
   align-items: center;
   min-height: 160px;
}
.modal__msg {
   margin: 20px 40px;
   font-size: 20px;
}
.modal__msg--red {
   color: red;
}
.modal__btn-wrapper {
   padding: 20px 40px;
   background-color: var(--grey-scheme);
   display: flex;
   justify-content: flex-end;
   gap: 10px;
}
.modal__close-btn {
   display: flex;
   border: none;
   background: transparent;
   color: var(--red-scheme);
   cursor: pointer;
   position: absolute;
   top: 0;
   right: 0;
}
.modal__close-icon {
   display: block;
   font-weight: bold;
   font-size: 30px;
}
/** Modal end */
/** Breadcrumbs start */
.breadcrumbs {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   padding: var(--p-small) 0px;
   gap: var(--p-small);
}
.breadcrumbs__item {
   display: flex;
}
.breadcrumbs__item:first-child {
   padding: 0px;
}
.breadcrumbs__link {
   display: flex;
   text-decoration: none;
   color: black;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   align-items: center;
   cursor: pointer;
}
.breadcrumbs__link:focus {
   outline: none;
   color: red;
}

.breadcrumbs__link--home {
   display: flex;
   text-decoration: none;
   color: #c1c6ce;
   font-weight: bold;
}
.breadcrumbs__link--home:hover,
.breadcrumbs__link--home:focus {
   outline: none;
   color: var(--blue-scheme);
}
.breadcrumbs__icon {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #c1c6ce;
   padding-right: var(--p-small);
}
.breadcrumbs__icon--home {
   display: flex;
   font-size: 30px;
   justify-content: center;
   align-items: center;
}
/** Breadcrumbs end */
/** Books-card start */
.books-card {
   width: 310px;
   border: 2px solid var(--milk-scheme);
   width: 310px;
   border: 2px solid var(--milk-scheme);
   display: flex;
   flex-direction: column;
   background-color: #fff;
   transition: 0.5s;
   padding-bottom: 20px;
}
.books-card:hover {
   box-shadow: 0 0 20px #ccced3;
   transform: scale(1.03);
}
.books-card__image-wrapper {
   position: relative;
}
.books-card__image {
   width: 100%;
   object-fit: cover;
}
.books-card__new-flag {
   width: 60px !important;
}
.books-card__overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.9);
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
   opacity: 0;
}
.books-card:hover .books-card__overlay {
   opacity: 1;
}
.books-card__links {
   display: flex;
   width: 210px;
   justify-content: center;
   align-items: center;
   margin: 6px;
   text-decoration: none;
   text-transform: uppercase;
   padding: 10px;
   cursor: pointer;
}
.books-card__links--more {
   color: var(--blue-scheme);
   border: 4px solid var(--green-scheme);
   border-radius: 4px;
}
.books-card__links--more:hover,
.books-card__links--more:focus {
   outline: none;
   border-color: var(--blue-scheme);
}
.books-card__links--more:active {
   opacity: 0.5;
}
.books-card__links--order {
   border-radius: 4px;
   background-color: var(--green-scheme);
   color: #fff;
   border-top: 4px solid var(--green-scheme);
   border-bottom: 4px solid var(--green-scheme_dark);
}
.books-card__links--order:hover,
.books-card__links--order:focus {
   outline: none;
   border-top-color: var(--green-scheme_light);
   background-color: var(--green-scheme_light);
}
.books-card__links--order:active {
   border-top-color: var(--green-scheme_dark);
   background-color: var(--green-scheme_dark);
}
.books-card__new-flag {
   display: block;
   width: 60px;
   height: 60px;
   position: absolute;
   top: -2px;
   right: -2px;
}
.books-card__title {
   text-align: center;
   margin: 10px 20px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.books-card__author {
   font-weight: normal;
}

.books-card__rating-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
}
.books-card__rating-icons {
   color: var(--yellow-scheme);
}
.books-card__comments-quantity {
   display: flex;
   align-items: center;
   justify-content: start;
   flex-wrap: wrap;
   padding-left: 10px;
   color: var(--blue-scheme);
   max-width: 125px;
}
.books-card__status-wrapper {
   margin: 10px 20px 0px 20px;
   display: flex;
   justify-content: center;
}
.books-card__status {
   color: #fff;
   padding: 10px 20px;
   min-width: 180px;
   text-align: center;
   border-radius: 3px;
}
.books-card__status--available {
   background-color: var(--green-scheme);
}
.books-card__status--unavailable {
   background-color: var(--red-scheme);
}
/** Books-card end */
/** Pagination start */
.pagination {
   list-style: none;
   display: flex;
   justify-content: center;
   gap: var(--p-small);
   flex-wrap: wrap;
   padding: 0px var(--p-big);
   margin-top: var(--p-normal);
}
.page-item {
   border: 3px solid var(--milk-scheme);
   border-radius: 3px;
}
.page-item.active {
   cursor: pointer;
   color: #fff;
   background-color: var(--red-scheme);
   border-color: var(--red-scheme);
}
.page-link {
   display: flex;
   height: 36px;
   width: 36px;
   justify-content: center;
   align-items: center;
   color: var(--blue-scheme);
   text-decoration: none;
   font-weight: bold;
   font-size: 20px;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
   font-size: 28px;
   margin-top: -1px;
}
.page-item.active .page-link {
   color: #fff;
}
.page-item.disabled .page-link {
   color: var(--milk-scheme);
   cursor: pointer;
}
/** Pagination end */
/** Form start */
.form__title {
   font-size: 26px;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: var(--yellow-scheme);
   margin-bottom: var(--p-small);
   text-shadow: 0px 0px 1px black;
}
.form__error-list {
   position: fixed;
   top: 200px;
   left: calc(50% - 300px);
   width: 600px;
   background-color: #ffe5e5;
   border-radius: 8px;
   box-shadow: 0 0 4px red;
   padding-top: 15px;
   color: red;
   z-index: 10;
   cursor: pointer;
}
.form__error-item {
   width: 70%;
   margin: 0px auto;
   margin-bottom: var(--p-small);
   position: relative;
   top: 0px;
   left: 0px;
}  
.form__item {
   width: 70%;
   margin: 0px auto var(--p-small) auto;
   position: relative;
   top: 0px;
   left: 0px;
}
.form__label {
   font-size: 20px;
   height: 24px;
   display: block;
   color: var(--blue-scheme);
   cursor: pointer;
}
.form__icon {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 24px;
   left: 0px;
   height: 50px;
   width: 50px;
   font-size: 28px;
   color: #9a8a6d;
   background-color: #e8e1d4;
   cursor: pointer;
}
.form__input {
   display: flex;
   align-items: center;
   border: none;
   color: #9a8a6d;
   background-color: var(--milk-scheme);
   box-shadow: 0px 0px 1px black;
   height: 50px;
   font-size: 20px;
   padding: 0px 60px;
   width: 100%;
}
.form__input:focus {
   background-color: #fff;
   outline: none;
   box-shadow: none;
}
.form__btn-wrapper {
   display: flex;
   justify-content: flex-end;
   margin-top: var(--p-normal);
   gap: var(--p-small);
}
.form__visibility {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 24px;
   right: 0px;
   height: 50px;
   width: 50px;
   font-size: 28px;
   color: #9a8a6d;
   background-color: #e8e1d4;
   cursor: pointer;
}
.error-msg {
   width: 70%;
   margin: -10px auto 5px auto;
   color: red;
   font-weight: bold;
}
/** Form end */
/*! Global style end */

/*! Typical page start */
.p-wrapper {
   display: flex;
   margin: var(--p-small) 0px var(--p-big) 0px;
   gap: var(--p-small);
}
/** Sidebar navigation start */
.p-sidebar {
   display: flex;
}
.p-navigation {
   margin-top: var(--p-big);
}
.p-navigation__list {
   list-style: none;
   margin-top: var(--p-small);
}
.p-navigation__item:not(:last-child) {
   margin-bottom: 5px;
}
.p-navigation__link {
   text-decoration: none;
   color: var(--blue-scheme);
   font-size: 20px;
   display: flex;
   align-items: center;
   height: 40px;
   padding: 0px var(--p-small) 0px calc(var(--p-small) + 5px);
   position: relative;
   top: 0px;
   left: 0px;
}
.p-navigation__link::before {
   content: '';
   display: flex;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 10px;
   background-color: var(--yellow-scheme);
   transition: .5s;
   z-index: -1;
}
.p-navigation__link.active {
   color: var(--red-scheme);
}
.p-navigation__link.active::before {
   width: 100%;
}
.p-navigation__item:hover .p-navigation__link::before {
   width: 100%;
}
/** Sidebar navigation end */
/** Content start */
.p-content {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.p-content__title {
   margin-bottom: var(--p-small);
}
.list__head {
   height: 40px;
   background: var(--grey-scheme);
   margin-bottom: 5px;
   display: flex;
   align-items: center;
   padding: 0px 10px;
   font-size: 19px;
   text-transform: uppercase;   
}
.list {
   list-style: none;
}
.list__item {
   min-height: 40px;
   background: var(--milk-scheme);
   display: flex;
   align-items: center;
   padding: 0px 10px;
   font-size: 22px;
   position: relative;
   top: 0px;
   left: 0px;
}
.list__item:not(:last-child) {
   margin-bottom: 5px;
}
.list__item:hover {
   cursor: pointer;
   transform: scale(1.01);
   background-color: rgba(0, 0, 0, 0.1);
}
/** Content end */
/*! Typical page end */

