/*! Profile content start */
.profile__top-wrapper {
   display: flex;
   align-items: flex-start;
   gap: var(--p-normal);
}
.avatar-form {
   display: flex;
   flex-direction: column;
}
.avatar-form__img {
   display: block;
   width: 100%;
   max-width: 260px;
   max-height: 260px;
   object-fit: cover;
   margin-bottom: var(--p-small);
   border-radius: 10px;
}
.avatar-form__item {
   position: relative;
   top: 0px;
   left: 0px;
}
.avatar-form__label {
   margin-bottom: 5px;
}
.avatar-form__input {
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: -1;
}
.avatar-form__role {
   display: flex;
   justify-content: center;
   height: 40px;
   align-items: center;
   font-size: 26px;
   color: var(--green-scheme);
   font-weight: bold;
   text-shadow: 0 0 2px;
   margin-bottom: var(--p-small);
}
.profile-info__wrapper {
   display: flex;
   flex-grow: 1;
   align-items: center;
}
.profile-info {
   list-style: none;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5px;
   cursor: none;
}
.profile-info__item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   box-shadow: 0px 0px 1px;
   background-color: var(--milk-scheme);
}
.profile-info__item:first-child {
   grid-column-start: 1;
   grid-column-end: 4;
   font-size: 30px; 
}
.profile-info__item:hover {
   transform: scale(1.01);
   background-color: rgba(0, 0, 0, 0.1);
}
.profile-info__item b {
   font-size: 30px;
}
.form__password-title {
   margin-top: var(--p-normal);
}
/** DateTime picker start */
.datetime-wrapper {
   position: relative;
   top: 0px;
   left: 0px;
}
.dtp_main {
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 1;
   border: none;
   height: 100%;
   width: 100%;
   color: transparent;
   background-color: transparent;
}
.dtp_modal-content {
   border-radius: 0px;
   display: flex;
   align-items: center;
   padding: 15px 0px;
   box-shadow: 0 0 10px grey;
}
.dtp_modal-title {
   display: none;
}
.dtp_modal-cell-date {
   margin: 0px;
}
.dtp_modal-cell-date {
   order: 1;
}
.dtp_modal-cell-time {
   display: flex;
   flex-direction: column;
}
.dtp_modal-time-line {
   padding: 0px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--green-scheme_light);
   font-weight: bold;
}
.dtp_modal-months {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px;
   height: 40px;
   color: var(--blue-scheme);
}
.dpt_modal-button {
   border: none;
   margin: 0px var(--p-normal);
   box-shadow: none;
   height: 40px;
   position: relative;
   top: 0px;
   left: 0px;
}
.dpt_modal-button::after {
   content: 'Выбрать';
   position: absolute;
   top: 0px;
   left: 0px;
   background-color: var(--green-scheme);
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.dtp_modal-time-mechanic {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.dtp_modal-append,
.dtp_modal-digits {
   display: flex;
   padding: 0px;
   align-items: center;
   justify-content: center;
}
.dtp_modal-cell-selected {
   background-color: var(--yellow-scheme);
}
/** DateTime picker end */
.no-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: grey;
   font-size: 20px;
   text-shadow: 0 0 5px grey;
}
.no-content__icon {
   font-size: 100px;
   opacity: 0.5;
   margin: 20px;
}
/*! Profile content end */
