/*! rating view (section) start */
.list__item span {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical;
   cursor: pointer;
}
.list__item span:not(:last-child) {
   padding-right: 10px;
}
.list__link {
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
}
/*! rating view (section) end */
