/*! About section */
.about {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.about__wrapper {
   width: 790px;
   padding: 0px var(--p2);
}
.about__strategy {
   list-style: none;
   margin-left: var(--p1);
}
.about__strategy-item {
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: var(--fs1);
   margin: var(--p1) 0px;
   gap: var(--p1);
}
.about__strategy-icon {
   color: var(--red);
}
.about__image-wrapper {
   width: 550px;
   margin: var(--p1) 0px var(--p3) 0px; 
}
.about__image {
   display: block;
}
/*! Plan section */
.plan {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}
.plan__title {
   width: 100%;
}
.plan__image-wrapper {
   margin: var(--p1) 0px var(--p3) 0px; 
}
.plan__image {
   display: block;
}
.plans__wrapper {
   width: 790px;
   padding: 0px var(--p2);
}
.plans {
   list-style: none;
}
.plans__item {
   display: flex;
   margin: var(--p1) 0px;
   align-items: center;
   text-align: justify;
}
.plans__item:first-child {
   margin-top: 0px;
}
.plans__item:last-child {
   margin-bottom: 0px;
}
.plans__icon {
   display: flex;
   color: var(--red);
   margin-right: var(--p1);
   align-items: center;
}
/*! Training section */
.training {
   background-color: var(--grey);
   padding: var(--p2) 0px var(--p3) 0px;
}
.training__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.training__wrapper {
   width: 790px;
   padding: 0px var(--p2) 0px 0px;
}
.training__quote {
   color: var(--blue-light);
   font-weight: bold;
   text-transform: uppercase;
   font-size: var(--fs3);
}
.training__text {
   margin: var(--p1) 0px;
   text-align: justify;
}
.training__image {
   display: block;
}
