.about-activities {
   background-color: var(--grey);
   padding-bottom: var(--p3);
}
.about-activities__title {
   padding: 0px;
}
.about-activities__text {
   text-align: justify;
}
.activities {
   margin: var(--p1) 0px var(--p3) 0px;
   display: flex;
   flex-wrap: wrap;
   gap: var(--p3);
}
.activities-info {
   width: 40%;
   flex-grow: 1;
   box-shadow: 3px 3px 10px #bfbfbf;
   padding: var(--p2);
}
.activity__btn {
   position: absolute;
   top: 0px;
   right: 0px;
   height: 100%;
}