/*! Buttons styles */
@keyframes scroll {
   0% {
      padding-top: 0px;
   }
   50% {
      padding-top: 20px;
   }
   100% {
      padding-top: 0px;
   }
}
.button {
   display: flex;
   text-decoration: none;
   font-family: inherit;
   cursor: pointer;
   border: none;
   font-size: var(--fs1);
   color: #fff;
   background-color: var(--green);
   height: 35px;
   padding: 0px var(--p2);
   box-shadow: 2px 2px 5px #777;
   justify-content: center;
   align-items: center;
}
.button--red {
   background-color: #ff3c3c;
}
.button:hover,
.button:focus {
   outline: none;
   background-color: var(--green-light);
}
.button--red:hover,
.button--red:focus {
   outline: none;
   background-color: #ff7e7e;
}
.button:active {
   background-color: var(--green-dark);
}
.button:disabled {
   background-color: #c5c5c5;
   border-color: #a7a7a7;
}
.button--red:active {
   background-color: red;
}
.scroll-top-btn {
   pointer-events: none;
   border: none;
   background-color: transparent;
   width: 50px;
   height: 0px;
   cursor: pointer;
   position: fixed;
   right: var(--p3);
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   overflow: hidden;
   transition: 0.2s;
}
.scroll-top-btn.active {
   pointer-events: auto;
   height: 120px;
   animation-name: scroll;
   animation-iteration-count: infinite;
   animation-duration: 1s;
}
/*! Link styles */
.link {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   text-decoration: none;
   background-color: var(--red);
   font-size: var(--fs);
   border-radius: 2px;
   text-shadow: 0 1px 5px black;
   text-transform: uppercase;
   height: var(--h);
   padding: 0px var(--p2);
}
.link:hover,
.link:focus {
   outline: none;
   background-color: var(--red-light);
}
.link:active {
   background-color: var(--red-dark);
}
/*! Modal styles */
.modal {
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 10;
   height: 100vh;
   width: 100vw;
   backdrop-filter: blur(3px);
   opacity: 1;
   transition: 0.5s;
   visibility: visible;
}
.modal.hidden {
   opacity: 0;
   visibility: hidden;
}
.modal__container {
   background-color: #fff;
   border-top: 6px solid var(--yellow);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 500px;
   min-height: 200px;
   position: fixed;
   top: 150px;
   left: calc(50% - 250px);
   box-shadow: 0px 10px 40px #616161;
}
.modal--success .modal__container {
   border-color: #63a63e;
}
.modal--fail .modal__container {
   border-color: #ee3643;
}
.modal__text {
   display: flex;
   flex-grow: 1;
   width: 100%;
   justify-content: center;
   align-items: center;
   padding: var(--p2);
   text-align: center;
}
.modal__btn-wrapper {
   padding: var(--p1);
   background-color: var(--grey);
   width: 100%;
   display: flex;
   justify-content: flex-end;
   gap: 5px;
}
.modal__close-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   background-color: transparent;
   position: absolute;
   top: 0px;
   right: 0px;
   cursor: pointer;
}
.modal__close-icon {
   font-size: var(--fs4);
   color: var(--yellow);
   text-shadow: 1px 1px 2px #484848;
}  
.modal--success .modal__close-icon {
   color: #63a63e;
}
.modal--fail .modal__close-icon {
   color: #ee3643;
}
.modal__close-icon:hover {
   text-shadow: none;
}
/*! Breadcrumbs styles */
.breadcrumbs {
   padding: var(--p1) 0px;
}
.breadcrumbs__list {
   display: flex;
    gap: var(--p1);
}
.breadcrumbs__item {
   display: flex;
   align-items: center;
}
.breadcrumbs__item:first-child {
   padding: 0px;
}
.breadcrumbs__link {
   display: block;
   text-decoration: none;
   color: black;
   text-transform: uppercase;
   letter-spacing: 1px;
   cursor: pointer;
   font-weight: bold;
}
.breadcrumbs__link:focus {
   outline: none;
   color: red;
}

.breadcrumbs__link--home {
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
}
.breadcrumbs__link--home:hover,
.breadcrumbs__link--home:focus {
   outline: none;
   color: var(--blue);
}
.breadcrumbs__icon {
   display: block;
   color: #c1c6ce;
   padding-right: 5px;
   font-size: var(--fs);
}
.breadcrumbs__icon--home {
   display: block;
   font-size: var(--fs4);
   color: #c1c6ce;
}
/*! Book-card style */
.books-card {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   transition: 0.5s;
   padding: var(--p1);
   box-shadow: 0px 0px 2px #777;
   position: relative;
   width: 250px;
}
.books-card:hover {
   transform: scale(1.03);
}
.books-card__image-wrapper {
   position: relative;
}
.books-card__image {
   object-fit: cover;
   width: 250px !important;
   position: relative;
   top: -10px;
   left: -10px;
}
.books-card__new-flag {
   width: 60px !important;
}
.books-card__overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 330px;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.9);
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
   opacity: 0;
}
.books-card:hover .books-card__overlay {
   opacity: 1;
}
.books-card__links {
   display: flex;
   width: 200px;
   justify-content: center;
   align-items: center;
   margin-top: var(--p1);
   text-decoration: none;
   text-transform: uppercase;
   cursor: pointer;
   height: var(--h1);
   font-size: var(--fs);
}
.books-card__links--more {
   color: var(--blue);
   border: 2px solid var(--green);
   border-radius: 2px;
}
.books-card__links--more:hover,
.books-card__links--more:focus {
   outline: none;
   border-color: var(--blue);
}
.books-card__links--more:active {
   opacity: 0.5;
}
.books-card__links--order {
   border-radius: 3px;
   background-color: var(--green);
   color: #fff;
   border-top: 3px solid var(--green);
   border-bottom: 3px solid var(--green-dark);
   text-transform: none;
   font-size: var(--fs1);
}
.books-card__links--order:hover,
.books-card__links--order:focus {
   outline: none;
   border-top-color: var(--green-light);
   background-color: var(--green-light);
}
.books-card__links--order:active {
   border-top-color: var(--green-dark);
   background-color: var(--green-dark);
}
.books-card__new-flag {
   display: block;
   width: 60px;
   height: 60px;
   position: absolute;
   top: -2px;
   right: -2px;
}
.books-card__title {
   text-align: center;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   font-size: var(--fs2);
}
.books-card__author {
   font-weight: normal;
   font-size: var(--fs1);
}
.books-card__title b {
   font-size: var(--fs1);
}
.books-card__rating-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}
.books-card__rating-icons {
   color: var(--yellow);
   font-size: var(--fs3);
   margin-right: -4px;
}
.books-card__comments-quantity {
   display: flex;
   align-items: center;
   justify-content: start;
   flex-wrap: wrap;
   padding-left: 10px;
   color: var(--blue);
   max-width: 125px;
}
.books-card__status {
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   height: var(--h);
}
.books-card__status--available {
   background-color: #63a63e;
   box-shadow: inset 0 0 10px var(--green-dark);
   cursor: context-menu;
} 
.books-card__status--unavailable {
   background-color: #ee3643;
   box-shadow: inset 0 0 10px var(--red-dark);
   cursor: context-menu;
}
/*! Pagination styles */
.pagination {
   display: flex;
   justify-content: center;
   gap: var(--p1);
   flex-wrap: wrap;
}
.page-item {
   border-radius: 2px;
   box-shadow: 0px 0px 2px #777;
}
.page-item.active {
   cursor: pointer;
   color: #fff;
   background-color: var(--red);
}
.page-link {
   display: flex;
   height: var(--h);
   width: var(--h);
   justify-content: center;
   align-items: center;
   color: var(--blue);
   text-decoration: none;
   font-weight: bold;
   font-size: var(--fs);
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
   font-size: 20px;
   margin-top: -1px;
}
.page-item.active .page-link {
   color: #fff;
}
.page-item.disabled .page-link {
   color: var(--milk-scheme);
   cursor: pointer;
}
/*! Form styles */
.form__title {
   font-size: var(--fs3);
   text-transform: uppercase;
   letter-spacing: 2px;
   color: var(--yellow);
   text-shadow: 0px 0px 1px black;
   margin-bottom: var(--p1);
}
.form__error-list {
   position: fixed;
   top: 200px;
   left: calc(50% - 300px);
   width: 600px;
   background-color: #ffe5e5;
   border-radius: 8px;
   box-shadow: 0 0 4px red;
   padding-top: 15px;
   color: red;
   z-index: 10;
   cursor: pointer;
}
.form__error-item {
   width: 60%;
   margin: 0px auto;
   margin-bottom: var(--p1);
   position: relative;
   top: 0px;
   left: 0px;
}  
.form__item {
   width: 60%;
   margin: 0px auto var(--p1) auto;
   position: relative;
   top: 0px;
   left: 0px;
}
.form__label {
   font-size: var(--fs1);
   height: 24px;
   display: block;
   color: var(--blue);
   cursor: pointer;
}
.form__label--file {
   position: relative;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 64px;
   z-index: 1;
}
.form__icon {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 24px;
   left: 0px;
   height: var(--h1);
   width: var(--h1);
   font-size: var(--fs4);
   color: #9a8a6d;
   background-color: #e8e1d4;
   cursor: pointer;
   z-index: 1;
}
.form__input {
   display: flex;
   align-items: center;
   border: none;
   color: #9a8a6d;
   background-color: var(--milk);
   box-shadow: 0px 0px 1px black;
   height: var(--h1);
   width: 100%;
   padding: 0px 50px;
   font-size: var(--fs1);
   font-family: inherit;
}
.form__input:focus {
   outline: none;
   background-color: #fff;
   box-shadow: none;
}
.form__input--file {
   position: absolute;
   bottom: 0px;
   left: 0px;
   top: 24px;
}
.form__file-view {
   position: absolute;
   left: 0px;
   top: 24px;
   overflow: hidden;
}
.form__btn-wrapper {
   display: flex;
   justify-content: flex-end;
   margin-top: var(--p2);
   gap: var(--p1);
}
.form__visibility {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 24px;
   right: 0px;
   height: var(--h1);
   width: var(--h1);
   font-size: var(--fs4);
   color: #9a8a6d;
   background-color: #e8e1d4;
   cursor: pointer;
}
.error-message {
   width: 60%;
   margin: -10px auto 5px auto;
   color: red;
   font-weight: bold;
}
.form__textarea {
   display: flex;
   align-items: center;
   border: none;
   color: rgb(154, 138, 109);
   background-color: var(--milk);
   box-shadow: black 0px 0px 1px;
   height: 180px;
   font-size: var(--fs1);
   padding: var(--p1) 50px;
   width: 100%;
   font-family: inherit;
   resize: none;
}
.form__textarea:focus {
   outline: none;
   background-color: #fff;
   box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type=number] {
   -moz-appearance:textfield; 
}
.form .error-msg {
   color: red;
   font-size: var(--fs);
   display: none;
}
.form__input.invalid + span,
.form__select.invalid + span,
.form__textarea.invalid + span {
   display: inline-block;
}
.form__select {
   border: none;
   display: flex;
   align-items: center;
   padding: 0px 50px;
   height: var(--h1);
   font-size: var(--fs1);
   color: #757575;
   font-family: inherit;
   width: 100%;
   background-color: #f7f3ec;
   box-shadow: 0px 0px 1px black;
}
.form__select:focus {
   outline: none;
   background-color: #fff;
   box-shadow: none;
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;
   text-overflow: '';
}  
/*! Information list styles */
.info {
   width: 100%;
}
.info__item:not(:last-child) {
   margin-bottom: var(--p1);
}
.info__label {
   font-size: var(--fs1);
   height: 24px;
   color: var(--blue);
}
.info__input,
.info__text {
   display: flex;
   align-items: center;
   color: #9a8a6d;
   background-color: var(--milk);
   height: var(--h1);
   font-size: var(--fs1);
   padding: 0px 50px;
   width: 100%;
   position: relative;
   top: 0px;
   left: 0px;
}
.info__text {
   height: auto;
   padding: var(--p1) 50px;
}
.info__icon {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: var(--h1);
   font-size: var(--fs4);
   color: #9a8a6d;
   background-color: #e8e1d4;
}
/*! Page template styles */
.p-wrapper {
   display: flex;
   margin: var(--p1) 0px var(--p3) 0px;
   gap: var(--p1);
}
.p-sidebar {
   display: flex;
}
.p-navigation {
   margin-top: var(--h2);
}
.p-navigation__list {
   margin-top: var(--p1);
   position: sticky;
   top: 90px;
   left: 0px;
}
.p-navigation__item:not(:last-child) {
   margin-bottom: 5px;
}
.p-navigation__link {
   text-decoration: none;
   color: var(--blue);
   font-size: var(--fs1);
   display: flex;
   align-items: center;
   height: var(--h1);
   padding: 0px var(--p1) 0px calc(var(--p1) + 5px);
   position: relative;
   top: 0px;
   left: 0px;
}
.p-navigation__link::before {
   content: '';
   display: flex;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: var(--p1);
   background-color: var(--yellow);
   transition: 0.5s;
   z-index: -1;
}
.p-navigation__link.active {
   color: var(--red);
}
.p-navigation__link.active::before {
   width: 100%;
}
.p-navigation__item:hover .p-navigation__link::before {
   width: 100%;
}
.p-content {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.p-content__title {
   margin-bottom: var(--p1);
}
.list__head {
   height: var(--h1);
   background: var(--grey);
   margin-bottom: 5px;
   display: flex;
   align-items: center;
   padding: 0px var(--p1);
   font-size: var(--fs);
   text-transform: uppercase;   
}
.list {
   margin-bottom: var(--p2);
}
.list__item {
   height: var(--h1);
   background: var(--milk);
   display: flex;
   align-items: center;
   padding: 0px var(--p1);
   font-size: var(--fs1);
   position: relative;
   top: 0px;
   left: 0px;
}
.list__item:not(:last-child) {
   margin-bottom: 3px;
}
.list__item:hover {
   cursor: pointer;
   transform: scale(1.01);
   background-color: rgba(0, 0, 0, 0.1);
}
.list__item span {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical;
   cursor: pointer;
}
.list__item span:not(:last-of-type) {
   padding-right: var(--p1);
}
.list__link {
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
}
/*! Feedback modal section */
/* .feedback {
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 11;
   width: 100vw;
   height: 100vh;
   backdrop-filter: blur(8px);
   opacity: 1;
   transition: 0.5s;
   cursor: pointer;
}
.feedback.hidden {
   opacity: 0;
   z-index: -1;
}
.feedback-form,
.feedback-success-modal {
   width: 600px;
   border-top: 7px solid var(--yellow);
   position: fixed;
   top: 150px;
   left: calc(50% - 300px);
   background-color: #fff;
   box-shadow: 0px 20px 25px #444444;
   display: flex;
   flex-direction: column;
}
.feedback-success-modal {
   border-color: var(--green-light);
}
.feedback__title {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.feedback__textarea {
   margin: var(--p-small);
   padding: var(--p-small);
   font-size: 20px;
   font-family: inherit;
   background-color: #f7f3ec;
   border: 2px solid var(--yellow);
   max-width: 570px;
   min-width: 570px;
   min-height: 200px;
   color: var(--blue);
   border-radius: 4px;
}
.feedback__textarea:focus {
   outline: none;
   background-color: #fff;
}
.feedback__btn {
   border-radius: 0px;
}
.feedback__button--red {
   border-bottom: 0px;
} */