.header {
   position: sticky;
   top: -190px;
   z-index: 2;
}
.header-top {
   background-color: var(--blue);
   width: 100%;
   position: sticky;
   top: 0px;
   z-index: 9;
}
.header-top__container {
   display: flex;
   color: #fff;
   font-size: var(--fs2);
   height: var(--h1);  
}
.ats-link {
   display: flex;
   justify-content: center;
   align-items: center;
}
.koinot-link {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 5px;
}
.catalog {
   display: flex;
   position: relative;
}
.catalog__button {
   border: none;
   color: #fff;
   background-color: var(--blue);
   font-family: inherit;
   font-size: inherit;
   display: flex;
   align-items: center;
   cursor: pointer;
   padding: 0 0 0 var(--p1);
   width: 110px;
}
.catalog__button:hover,
.catalog__button:focus,
.catalog__links:hover,
.catalog__links:focus {
   outline: none;
   background-color: #fff;
   color: var(--blue);
}
.catalog__dropdown-icon {
   font-size: var(--fs4);
   padding-left: 4px;
}
.catalog__list {
   position: absolute;
   top: 40px;
   right: 0px;
}
.catalog__items {
   display: block;
}
.catalog__links {
   display: flex;
   justify-content: start;
   align-items: center;
   width: 110px;
   text-decoration: none;
   color: #fff;
   font-size: var(--fs2);
   background-color: var(--blue);
   padding: 0px var(--p1);
   height: var(--h1);
   overflow: hidden;
   transition: 0.2s;
}
.catalog__list.hidden .catalog__links:focus {
   height: var(--h1);
}
.catalog__list.hidden .catalog__links {
   height: 0px;
}
.search__wrapper {
   display: flex;
   flex-grow: 1;
}
.search {
   display: flex;
   transition: 1s;
   background-color: #fff;
   width: 100%;
}
.search.hidden {
   width: 0px;
   overflow: hidden;
}
.search__button,
.search__submit-btn {
   border: none;
   background-color: transparent;
   display: flex;
   height: var(--h1);
   align-items: center;
   color: var(--red);
   padding: var(--p1) 5px;
   cursor: pointer;
}
.search__submit-btn:focus {
   outline: 0px;
   background-color: var(--blue);
   color: #fff;
}
.search__button {
   color: #fff;
}
.search__button:hover {
   background-color: #fff;
   color: var(--red);
}
.search__button.close {
   background-color: #fff;
   color: var(--red);
}
.search__icon {
   display: block;
   font-size: 30px;
   color: inherit;
}
.search__input {
   border: none;
   background-color: transparent;
   width: 100%;
   padding-left: var(--p1);
   color: var(--blue);
   font-size: inherit;
   font-family: inherit;
   font-weight: bold;
   transition: 1s;
}
.search__input::placeholder {
   color: inherit;
}
.search__input:focus,
.search__input:active {
   outline: none;
   color: var(--blue);
   font-weight: bold;
}
.notification-link {
   position: relative;
   display: flex;
   text-decoration: none;
   justify-content: center;
   align-items: center;
   color: #fff;
   width: var(--h1);
}
.notification-link:hover,
.notification-link:focus {
   outline: none;
   background-color: #fff;
   color: var(--blue);
}
.viber-link:hover,
.viber-link:focus {
   outline: none;
   background-color: rgb(125 61 175);
}
.notification-link__icon {
   color: inherit;
   font-size: 30px;
   display: block;
}
.viber-link {
   display: flex;
   text-decoration: none;
   justify-content: center;
   align-items: center;
   width: var(--h1);
}
.viber-link__icon {
   display: block;
   width: 30px;
}
.taken-book {
   display: flex;
}
.taken-book__title {
   display: flex;
}
.taken-book__link,
.taken-book__deadline-link,
.taken-book__message {
   display: flex;
   align-items: center;
   padding: var(--p1);
   background-color: var(--green);
   text-decoration: none;
   color: #fff;
   position: relative;
}
.taken-book__see-txt {
   position: absolute;
   top: 0px;
   left: 0px;
   background-color: var(--green);
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: var(--fs2);
   min-width: 150px;
   transition: 0.2s;
   opacity: 0;
}
.taken-book__deadline-link.award {
   background-color: transparent;
}
.taken-book__link:hover .taken-book__see-txt {
   opacity: 1;
}
.taken-book__link:active {
   background-color: var(--green-dark);
}
.taken-book__deadline {
   display: flex;
}
.taken-book__deadline-link {
   background-color: var(--red);
   font-size: var(--fs4);
   display: flex;
   gap: 3px;
   justify-content: center;
   align-items: center;
   padding: 0px var(--p1);
   cursor: pointer;
   min-width: 150px;
}
.taken-book__deadline-link small {
   position: relative;
   font-size: var(--fs1);
   bottom: -4px;
   font-weight: bold;
   margin-right: 5px;
}
.taken-book__renew {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--red);
   opacity: 0;
   transition: 0.2s;
   font-size: var(--fs2);
}
.taken-book__deadline-link:hover .taken-book__renew,
.taken-book__deadline-link:focus .taken-book__renew {
   opacity: 1;
}
.taken-book__deadline-link:active {
   background-color: var(--red);
}
.taken-book__message {
   background-color: var(--red);
   cursor: default;
}
.header-bottom {
   background-color: var(--grey);
   height: 230px;
}
.header-bottom__container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   min-height: 150px;
}
.quote {
   display: flex;
   align-items: center;
   font-family: serif;
   color: var(--red);
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   text-transform: uppercase;
   letter-spacing: -1px;
}
.quote > span {
   display: flex;
   align-items: center;
   line-height: 50px;
   color: black;
   font-size: 55px;
   font-weight: bold;
   margin-right: 6px;
}
.company {
   display: flex;
   flex-direction: column;
   font-style: normal;
   justify-content: center;
   max-width: 500px;
   align-items: center;
   gap: var(--p1);
}
.company__phone {
   width: 250px;
   display: flex;
   align-items: center;
   height: var(--h1);
   border: 2px solid #fff;
   font-weight: bold;
   color: var( --red);
   font-size: var(--fs2);
   position: relative;
   justify-content: center;
}
.company__phone-icon {
   color: #b7bfc8;
   font-size: var(--fs4);
   display: flex;
   align-items: center;
   justify-content: center;
   height: var(--h1);
   width: var(--h1);
   position: absolute;
   top: calc(50% - 20px);
   left: 0px;
}
.company-name {
   text-align: center;
   color: #32425c;
   font-weight: bold;
   margin-top: 5px;
}
.user-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   gap: var(--p1);
}
.user-wrapper {
   display: flex;
   justify-content: space-between;
   height: var(--h1);
   background-color: #fff;
   font-size: var(--fs2);
   font-weight: bold;
   min-width: 250px;
}
.user-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #b7bfc8;
   font-size: var(--fs4);
   height: 100%;
   width: var(--h1);
}
.user-name {
   display: flex;
   align-items: center;
   padding: 6px;
}
.logout-link {
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #b7bfc8;
   font-size: var(--fs4);
   height: 100%;
   width: var(--h1);
}
.logout-link:hover,
.logout-link:focus {
   outline: none;
   background: gainsboro;
}
.logout-link__icon {
   display: block;
   color: #b7bfc8;
   font-weight: bold;
}
.logout-link:hover .logout-link__icon,
.logout-link:focus .logout-link__icon {
   color: #fff;
}
.profile-link {
   text-align: center;
   color: #32425c;
   font-weight: bold;
}
.profile-link:hover,
.profile-link:focus {
   outline: none;
   color: #fff;
   background-color: gainsboro;
}
.main-navigation {
   position: sticky;
   top: var(--h1);
   background-color: var(--yellow);
   box-shadow: 0px 3px 3px #a0a0a0;
}
.site-navigation {
   width: 100%;
   display: flex;
   justify-content: center;
}
.site-navigation__item {
   cursor: pointer;
   overflow: hidden;
   display: flex;
   flex-grow: 1;
}
.site-navigation__link {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: var(--blue);
   font-weight: bold;
   height: var(--h1);
   font-size: var(--fs2);
   width: 100%;
}
.site-navigation__link:hover,
.site-navigation__link:focus {
   outline: none;
   background-color: #e0b600;
}
.site-navigation__item.active .site-navigation__link {
   background-color: #cca600;
   color: #fff;
   user-select: none;
}