/*! Banner owl carousel */
.news-banner {
   position: relative;
   top: 0px;
   left: 0px;
}
.owl-carousel.owl-news .owl-stage-outer,
.owl-carousel.owl-news .owl-stage,
.owl-carousel.owl-news.owl-drag .owl-item {
   height: 100%;
}
.news__item {
   height: 100%;
   position: relative;
   background-color: #ee8800;
}
.news__img {
   height: 100%;
   object-fit: contain;
}
.owl-news .owl-nav {
   height: var(--h3);
   position: absolute;
   top: calc(50% - (var(--h3) / 2));
   left: 0px;
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   padding: 0px var(--p1);
}
.owl-news .owl-nav button {
   display: flex !important;
   justify-content: center;
   align-items: center !important;
   height: var(--h1) !important;
   width: var(--h1) !important;
}
.owl-news .owl-nav span {
   display: block;
   font-size: 46px;
   font-weight: bold;
   color: #fff;
   text-shadow: 0px 0px 3px black;
}
.owl-news .owl-dots {
   height: var(--h1);
   position: absolute;
   bottom: 0px;
   left: 0px;
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   gap: 5px;
}
.owl-news .owl-dots .owl-dot {
   display: block;
   height: var(--p1);
   width: var(--p1);
   background-color: transparent;
   border-radius: 50%;
   border: 1px solid #fff;
}
.owl-news .owl-dots .owl-dot.active {
   background-color: var(--red);
}
/*! Categories section */
.categories {
   display: flex;
   justify-content: center;
   padding: var(--p3) 0px;
   background-color: var(--milk);
}
.categories__list {
   display: flex;
   gap: var(--p1);
   flex-wrap: wrap;
   justify-content: center;
}
.categories__item {
   width: 300px;
   color: #fff;
   padding: var(--p1);
}
.categories__item:first-child,
.categories__item:nth-child(9) {
   background-color: #ffbf47;
}
.categories__item:nth-child(2),
.categories__item:nth-child(7) {
   background-color: #3bbce3;
}
.categories__item:nth-child(3),
.categories__item:nth-child(8) {
   background-color: #dc91d8;
}
.categories__item:nth-child(4),
.categories__item:nth-child(6) {
   background-color: #8ed78f;
}
.categories__item:nth-child(5),
.categories__item:last-child {
   background-color: #ffc047;
}
.categories__title {
   cursor: context-menu;
   font-size: var(--fs2);
   text-shadow: 0px 0px 2px black;
}
.categories__link {
   background-color: rgba(0,0,0,0.1);
   text-decoration: none;
   color: #fff;
   text-align: center;
   height: var(--h);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   margin-top: 5px;
   margin-left: auto;
   box-shadow: 2px 2px 4px #777777;
}
.categories__link:hover,
.categories__link:focus {
   outline: none;
   background-color: rgba(0,0,0,0.2);
}
.categories__link:active {
   background-color: rgba(0,0,0,0.3);
}
/*! Popular & new books section */
.popular-books {
   margin-top: var(--p3);
}
.title__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--milk);
   padding-right: var(--p1);
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
   z-index: 0;
}
.owl-carousel.owl-books .owl-stage {
   display: flex;
}
.owl-carousel.owl-books.owl-drag .owl-item {
   padding: var(--p2) 0px;
   display: flex;
   justify-content: center;
}
.owl-books .owl-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.owl-carousel.owl-books .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
   width: var(--h);
   height: var(--h);
   display: flex;
   align-items: center;
}
.owl-carousel.owl-books .owl-nav button.owl-prev {
   justify-content: flex-start;
}
.owl-carousel.owl-books .owl-nav button.owl-next {
   justify-content: flex-end;
}
.owl-carousel.owl-books .owl-nav span {
   color: #fff;
   font-size: 50px;
   text-shadow: 0px 0px 4px black;
}
.owl-books .owl-dots {
   display: flex;
   position: absolute;
   bottom: 5px;
   left: 0;
   justify-content: center;
   width: 100%;
}
.owl-carousel.owl-books button.owl-dot {
   width: var(--p1);
   height: var(--p1);
   background-color: transparent !important;
   border-radius: 50%;
   border: 2px solid #fff !important;
   margin: 0 4px;
   box-shadow: 0px 0px 4px black;
}
.owl-carousel.owl-books button.owl-dot.active {
   background-color: var(--red) !important;
}
.new-books {
   margin: var(--p3) 0px;
}
/*! About article */
.about-ats {
   background-color: var(--grey);
   padding-bottom: var(--p3);
}
.about-ats__container {
   display: flex;
}
.about__intro {
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: var(--p1);
}
.about-ats__title {
   padding: 0px;
}
.about-ats__strategy {
   margin-left: var(--p2);
}
.about-ats__strategy-item {
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: var(--fs1);
   gap: var(--p1);
}
.about-ats__strategy-icon {
   color: var(--red);
}
.about-ats__link {
   width: 250px;
}
.about-ats__contacts {
   display: flex;
   flex-direction: column;
   width: 50%;
   padding-left: 200px;
   gap: var(--p1);
}
.about-ats__contact-title {
   justify-content: center;
}
.about-ats__map-btn {
   height: 190px;
   border: none;
   border-radius: 0px;
   cursor: context-menu;
   background-color: transparent;
}
.about-ats__map-img {
   display: block;
   width: 280px;
   box-shadow: 0px 0px 10px #777;
   cursor: pointer;
}
.about-ats__map-img:hover {
   box-shadow: 0 0 10px var(--yellow);
}
/*! Modal map section */
.modal-map {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background-color: rgba(0,0,0, 0.8);
   opacity: 1;
   transition: 1s;
}
.modal-map.hidden {
   height: 0px;
   opacity: 0;
}
.modal-map__close-btn {
   position: absolute;
   top: var(--p2);
   right: var(--p3);
   border: none;
   background-color: transparent;
   display: block;
}
.modal-map__close-icon {
   color: #fff;
   font-size: var(--fs4);
   cursor: pointer;
}