@keyframes banner {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 0px 600px;
   }
}
/*! Banner owl carousel */
.owl-news {
   position: relative;
   top: 0px;
   left: 0px;
   height: calc(100vh - 320px);
}
.owl-carousel.owl-news .owl-stage-outer,
.owl-carousel.owl-news .owl-stage,
.owl-carousel.owl-news.owl-drag .owl-item {
   height: 100%;
}
.news__item {
   height: 100%;
   position: relative;
   background-color: #ee8800;
}
.news__img {
   height: 100%;
   object-fit: contain;
}
.news__description {
   position: absolute;
   bottom: 0px;
   left: 0px;
   display: flex;
   justify-content: center;
   width: 100%;
   font-size: 30px;
   font-weight: bold;
   color: #fff;
   padding: var(--p-normal) var(--p-big);
   text-align: center;
   text-shadow: 0px 0px 5px black;
}
.owl-news .owl-nav {
   height: 60px;
   position: absolute;
   top: calc(50% - 30px);
   left: 0px;
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   padding: 0px var(--p-small);
}
.owl-news .owl-nav button {
   display: flex !important;
   justify-content: center;
   align-items: center !important;
   height: 40px !important;
   width: 40px !important;
}
.owl-news .owl-nav span {
   display: block;
   font-size: 46px;
   font-weight: bold;
   color: #fff;
   text-shadow: 0px 0px 3px black;
}
.owl-news .owl-dots {
   height: 30px;
   position: absolute;
   bottom: 0px;
   left: 0px;
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   gap: 5px;
}
.owl-news .owl-dots .owl-dot {
   display: block;
   height: 13px;
   width: 13px;
   background-color: transparent;
   border-radius: 50%;
   border: 2px solid #fff;
}
.owl-news .owl-dots .owl-dot.active {
   background-color: var(--red-scheme);
}
/*! Page's background */
.banner {
   width: 100%;
   display: flex;
   position: fixed;
   top: 105px;
   z-index: -2;
   align-items: flex-end;
   background: url('../img/banner.jpg');
   background-position: 0px 0px;
   animation-name: banner;
   animation-duration: 40s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;  
   height: calc(100vh - 105px);
}
.banner__image {
   display: block;
   width: 100%;
   padding-top: 100px;
}
/*! Categories section */
.categories {
   display: flex;
   justify-content: center;
   margin: var(--p-big) 0px;
}
.categories__list {
   list-style: none;
   display: flex;
   gap: var(--p-normal);
   flex-wrap: wrap;
   justify-content: center;
}
.categories__item {
   width: 350px;
   color: #fff;
   padding: var(--p-small);
   box-shadow: 0px 0px 10px var(--yellow-scheme) inset;
}
.categories__item:first-child,
.categories__item:nth-child(9) {
   background-color: #ffbf47;
}
.categories__item:nth-child(2),
.categories__item:nth-child(7) {
   background-color: #3bbce3;
}
.categories__item:nth-child(3),
.categories__item:nth-child(8) {
   background-color: #dc91d8;
}
.categories__item:nth-child(4),
.categories__item:nth-child(6) {
   background-color: #8ed78f;
}
.categories__item:nth-child(5),
.categories__item:last-child {
   background-color: #ffc047;
}
.categories__title {
   cursor: context-menu;
   font-size: 25px;
   text-shadow: 0px 0px 3px black;
}
.categories__link {
   background-color: rgba(0,0,0,0.1);
   text-decoration: none;
   color: #fff;
   display: block;
   padding: 10px;
   border-radius: 3px;
   margin: var(--p-small) var(--p-small) 0px auto;
   width: 170px;
   text-align: center;
}
.categories__link:hover,
.categories__link:focus {
   outline: none;
   background-color: rgba(0,0,0,0.2);
}
.categories__link:active {
   background-color: rgba(0,0,0,0.3);
}
/*! Popular & new books section */
.popular-books,
.new-books {
   padding-bottom: var(--p-big);
}
.cat-title__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--milk-scheme);
   padding: var(--p-small);
}
.cat-title {
   font-size: 25px;
   color: var(--blue-scheme);
   text-transform: uppercase;
}
.cat-title__link {
   padding: 8px 70px;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
   z-index: 0;
}
.owl-carousel.owl-books .owl-stage {
   display: flex;
}
.owl-carousel.owl-books.owl-drag .owl-item {
   padding: var(--p-normal) 0px;
   display: flex;
   justify-content: center;
}
.owl-books .owl-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.owl-carousel.owl-books .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
}
.owl-carousel.owl-books .owl-nav button.owl-prev {
   justify-content: flex-start;
}
.owl-carousel.owl-books .owl-nav button.owl-next {
   justify-content: flex-end;
}
.owl-carousel.owl-books .owl-nav span {
   color: #fff;
   font-size: 50px;
}
.owl-books .owl-dots {
   display: flex;
   position: absolute;
   bottom: 5px;
   left: 0;
   justify-content: center;
   width: 100%;
}
.owl-carousel.owl-books button.owl-dot {
   width: 12px;
   height: 12px;
   background-color: transparent !important;
   border-radius: 50%;
   border: 2px solid #fff !important;
   margin: 0 3px;
}
.owl-carousel.owl-books button.owl-dot.active {
   background-color: var(--red-scheme) !important;
}
/*! About article */
.about {
   background-color: var(--grey-scheme);
   padding: var(--p-big);
   margin-top: var(--p-big);
   position: relative;
   top: -60px;
   display: flex;
}
.about__intro {
   width: 55%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.about__title {
   font-size: 30px;
   text-transform: uppercase;
}
.about__text {
   padding-top: var(--p-small);
   line-height: 1.4;
   text-align: justify;
}
.about__strategy {
   list-style: none;
   margin: var(--p-small) 0px var(--p-normal) 0px;
}
.about__strategy-item {
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: 20px;
   margin: var(--p-small) 0px;
   gap: var(--p-small);
}
.about__strategy-icon {
   color: var(--red-scheme);
}
.about__contacts {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 45%;
   padding-left: var(--p-big);
}
.about__map-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 260px;
   margin: var(--p-small) 0px;
   border: none;
   border-radius: 0px;
   cursor: pointer;
}
.about__map-btn:hover,
.about__map-btn:focus {
   outline: none;
   box-shadow: 0 0 10px var(--yellow-scheme);
}
.about__map-img {
   display: block;
   width: 100%;
   height: 100%;
}
/*! Modal map section */
.map-popup {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background-color: rgba(0,0,0, 0.8);
   opacity: 1;
   transition: 1s;
}
.map-popup.hidden {
   height: 0px;
   opacity: 0;
}
